<div class="submit_page">
    <div class="submit_page_head">
        <h2>Welcome Jane Smith to the Site Maintenance Portal</h2>
    </div>

    
    <div class="submitted_msg">
        <img src="assets/images/checkicon.svg" alt="">
        <p>Your verified or updated information were sent.</p>
    </div>
</div>