<div class="contact_information_page">
    <div class="contact_info_head">
        <h2>Welcome {{siteContactData?.name }} to the Site Maintenance Portal</h2>
        <p>Please verify or update your contact information below</p>
    </div>


    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="info_holder">

            <div class="verify_contact_info">
                <h4 class="font-weight-500 pb-3">Verify your contact information</h4>
                <div class="info_holder">
                    <div class="left_info">
                        <p>Name:</p>
                    </div>
                    <div class="right_info">
                        <p>{{siteContactData?.name }}</p>
                    </div>
                </div>

                <div class="info_holder">
                    <div class="left_info">
                        <p>Email:</p>
                    </div>
                    <div class="right_info">
                        <p>{{siteContactData?.email}}</p>
                    </div>
                </div>


                <div class="info_holder">
                    <div class="left_info">
                        <p>Nick Name:</p>
                    </div>
                    <div class="right_info">
                        <mat-form-field>
                            <input type="text" [(ngModel)]="siteContactData.nickName" name="nickName"
                                (keyup)="nickNameUpdate()" [ngModelOptions]="{standalone: true}" matInput mask="S{15}">
                        </mat-form-field>
                    </div>
                </div>



                <div class="info_holder">
                    <div class="left_info">
                        <p>Mobile Phone<span style="color: #CC0200;">*</span> :</p>
                    </div>

                    <div class="right_info">

                        <input [(ngModel)]="siteContactData.phone" name="MobilePhone" (keyup)="phoneUpdated()"
                        [ngModelOptions]="{standalone: true}" type="text"  #MobilePhone="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && MobilePhone.invalid }" required minlength="10"
                         placeholder="000-000-0000" class="form-control custom_input" mask="000-000-0000" required>


                        <!-- <mat-form-field>
                            <input [(ngModel)]="siteContactData.phone" name="MobilePhone" (keyup)="phoneUpdated()"
                                [ngModelOptions]="{standalone: true}" type="text" matInput #MobilePhone="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && MobilePhone.invalid }" required minlength="12"
                                maxlength="12" placeholder="000-000-0000">
                        </mat-form-field> -->

                        <div *ngIf="f.submitted && MobilePhone.invalid" class="invalid-feedback">
                            <div *ngIf="MobilePhone.errors?.required">Mobile Phone is required</div>

                            <ng-container *ngIf="(MobilePhone.errors?.minlength); else elseTemplate">
                                Mobile Phone Min / Max Length is 10
                            </ng-container>
                            <ng-template #elseTemplate>
                                <div *ngIf="MobilePhone.errors?.pattern">
                                    Mobile Phone should be valid number
                                </div>
                            </ng-template>

                        </div>






                    </div>


                </div>
                <div class="info_holder">
                    <div class="left_info">
                        <p>Other Information:</p>
                    </div>
                    <div class="right_info">
                        <mat-form-field class="example-chip-list" appearence="fill">
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let oc of siteContactData.otherPhoneNummbers" [selectable]="true"
                                    [removable]="true" (removed)="remove(oc)">
                                    {{oc}}
                                    <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                                </mat-chip>
                                <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                </div>
            </div>



            <div class="additionalQues">

                <div class="info_holder" *ngFor="let ques of siteContactData.additionalQuestionAnswers; let i = index">
                    <div class="left_info">
                        <p>{{ques.questionText}} </p>
                    </div>
                    <div class="right_info">
                        <mat-radio-group name="opList_{{i}}" *ngIf="ques.answerType == 1" [(ngModel)]="ques.answer"
                            (ngModelChange)="updatedAdditionalQues(i)">
                            <mat-radio-button value="yes">Yes</mat-radio-button>
                            <mat-radio-button value="no">No</mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field *ngIf="ques.answerType == 2">
                            <input [(ngModel)]="ques.answer" (ngModelChange)="updatedAdditionalQues(i)" matInput
                                type="text">
                        </mat-form-field>
                        <mat-form-field *ngIf="ques.answerType == 3">
                            <textarea [(ngModel)]="ques.answer" (ngModelChange)="updatedAdditionalQues(i)"
                                matInput></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="emergency_contact">
                <div class="emer_cont_holder">
                    <p>Do you have an emergency contact?</p>
                    <mat-radio-group name="opList2" [(ngModel)]="emergency" (ngModelChange)="emergencyUpdated($event)">
                        <mat-radio-button [value]=true>Yes</mat-radio-button>
                        <mat-radio-button [value]=false>No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="emergency" class="visible_emer_contact">
                    <p>INDICATE EMERGENCY CONTACT</p>
                    <div class="visible_emer_holder">
                        <div class="info_holder">
                            <div class="left_info">
                                <p>Email Address<span style="color: #CC0200;">*</span> :</p>
                            </div>
                            <div class="right_info">
                                <mat-form-field>
                                    <input (keyup)="emergencyContactUpdated()" name="emergencyContacts"
                                        [(ngModel)]="siteContactData.emergencyContacts"
                                        [ngModelOptions]="{standalone: true}" type="text" matInput
                                        required="{{emergency:true:null" #emergencyContacts="ngModel"
                                        [ngClass]="{ 'is-invalid': f.submitted && emergencyContacts.invalid }" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                                </mat-form-field>
                                <div *ngIf="f.submitted && emergencyContacts.invalid" class="invalid-feedback">
                                    <div *ngIf="(emergencyContacts.errors?.required); else elseTemplate">
                                        Emergency contact is required
                                    </div>
                                    <ng-template #elseTemplate>
                                        <div *ngIf="emergencyContacts.errors?.pattern">
                                            Email should be valid
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="contact_next_btn" mat-button>
                NEXT
            </button>


        </div>
    </form>



</div>