<div class="maintenance_hours_page">
    <div class="maintenance_hours_head">
        <h2>Welcome {{_serveyService.siteContactData?.name}} to the Site Maintenance Portal</h2>
        <p>Please verify or suggest an update to your maintenance hours information below</p>
    </div>


    <div class="maintenance_hours_holder">
        <div class="maintenance_hours_info">
            <h4 class="font-weight-500 pb-3">
                Verify maintenance hours
            </h4>
        </div>

      
        <form class="maintenance_hours_form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="maintenance_hours_1_radio_holder rad-grp">
                <p>Do you have maintenance hours?</p>
                <mat-radio-group [(ngModel)]="maintenanceHours.isMaintenanceHourAvailable"
                    (ngModelChange)="valueChanged($event);" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button [value]=true>Yes</mat-radio-button>
                    <mat-radio-button [value]=false>No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="maintenanceHours.isMaintenanceHourAvailable == false" class="info_holder">
                <div class="left_info">
                    <p>Notes:</p>
                </div>
                <div class="right_info">
                    <mat-form-field>
                        <textarea [(ngModel)]="maintenanceHours.notes" [ngModelOptions]="{standalone: true}"
                        required="{{!this.maintenanceHours.isMaintenanceHourAvailable:true:null" #noMaintenanceNotes="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && noMaintenanceNotes.invalid }" minlength="10"
                                    maxlength="500"
                            matInput></textarea>
                    </mat-form-field>

                    <p class="float-right font-weight-500 font-10">Max:500</p>

                    <div *ngIf="f.submitted && noMaintenanceNotes.invalid" class="invalid-feedback">
                        <div *ngIf="noMaintenanceNotes.errors?.required">Notes is required
                        </div>
                        <ng-container *ngIf="(noMaintenanceNotes.errors?.minlength)">
                            Notes Min Length is {{noMaintenanceNotes.errors?.minlength?.requiredLength}}
                        </ng-container>
                    </div>
                </div>
            </div>
            <div *ngIf="maintenanceHours.isMaintenanceHourAvailable == true"
                class="maintenance_hours_2_radio_holder rad-grp">
                <p>Do you have recurring maintenance hours?</p>
                <mat-radio-group [(ngModel)]="maintenanceHours.isRecurringMaintenance"
                    (ngModelChange)="recurringRadioChanged($event);" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button [value]=true>Yes</mat-radio-button>
                    <mat-radio-button [value]=false>No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="(!maintenanceHours.isRecurringMaintenance && maintenanceHours.isMaintenanceHourAvailable)"
                class="non_recurring_maintenance_hours">
                <app-non-recurring-hours [dailyMaintenances]="maintenanceHours.dailyMaintenances"
                    (valueChange)='valueChanged($event)'>
                </app-non-recurring-hours>
            </div>

            <div *ngIf="(maintenanceHours.isRecurringMaintenance && maintenanceHours.isMaintenanceHourAvailable == true)"
                class="recurring_maintenance_hours">
                <app-recurring-hours [dailyMaintenances]="maintenanceHours" (valueChange)='valueChanged($event)'>
                </app-recurring-hours>
            </div>




            <div class="button_grp">
                <button (click)="back()" class="prev_btn" mat-button>
                    PREVIOUS
                </button>
                <button type="submit" class="nxt_btn" mat-button>
                    NEXT
                </button>

                <div [ngClass]="warningMsg ? 'w visible' : 'w'">
                    <mat-icon class="warning">warning_amber</mat-icon>
                    <p>Required Fields needs to be filled..!</p>
                </div>
            </div>
        </form>
    </div>
    <ng-container *ngIf="_serveyService.spinner">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
            [fullScreen]="true">
        </ngx-spinner>
    </ng-container>
</div>