<div class="location_information_page">
    <div class="location_info_head">
        <h2>Welcome {{_serveyService.siteContactData?.name}} to the Site Maintenance Portal</h2>
        <p>Please verify or suggest an update to your location information below</p>
    </div>


    <div class="location_info_holder">
        <div class="location_info_holder_sub">
            <div class="verify_location_info">
                <h4 class="font-weight-500 pb-3">Verify location information</h4>
            </div>
            <form class="verify_location_form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                novalidate>
                <div class="verify_location_head">
                    <div class="info_holder">
                        <div class="left_info">
                            <p>Business Unit:</p>
                        </div>
                        <div class="right_info">
                            <p>{{locationData.businessUnit}}</p>
                        </div>
                    </div>
                    <div class="additional_busi_unit r">
                        <div class="additional_busi_unit_holder">
                            <p>Do you have an additional business unit?</p>
                            <mat-radio-group name="additionalBusiness" [(ngModel)]="additionalBusiness"
                                (ngModelChange)="additionalBusinessRadioChange($event)"
                                [ngModelOptions]="{standalone: true}">
                                <mat-radio-button [value]=true>Yes</mat-radio-button>
                                <mat-radio-button [value]=false>No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div *ngIf="additionalBusiness" class="info_holder">
                            <div class="left_info">
                                <p>Add Business Unit<span style="color: #CC0200;">*</span> :</p>
                            </div>
                            <div class="right_info">

                                <mat-form-field>
                                    <mat-select name="additionalBusinessUnits"
                                        [(ngModel)]="locationData.additionalBusinessUnits"
                                        [ngModelOptions]="{standalone: true}" multiple (ngModelChange)="changed()"
                                        required="{{additionalBusiness:true:null" #additionalBusinessUnits="ngModel"
                                        [ngClass]="{ 'is-invalid': f.submitted && additionalBusinessUnits.invalid }"
                                        (focus)="addBusiSelectOpen()" (blur)="addBusiSelectOpen()">
                                        <mat-select-trigger>
                                            <mat-chip-list>
                                                <mat-chip *ngFor="let b of locationData.additionalBusinessUnits"
                                                    [removable]="true" (removed)="removeChip(b)">{{b}}
                                                    <mat-icon *ngIf="additionalBusinessUnitSelectOpen" matChipRemove>
                                                        cancel</mat-icon>
                                                </mat-chip>
                                            </mat-chip-list>

                                        </mat-select-trigger>
                                        <div class="search_select">
                                            <input placeholder="Search" type="text" [(ngModel)]="searchText"
                                                (keydown)="$event.stopPropagation()"
                                                [ngModelOptions]="{standalone: true}">
                                            <mat-icon class="serach_icon">search</mat-icon>
                                        </div>
                                        <mat-option
                                            *ngFor="let option of businessUnitsOptions | businessUnit:searchText"
                                            [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div *ngIf="(f.submitted && (additionalBusinessUnits.invalid  || locationData.additionalBusinessUnits.length == 0))"
                                    class="invalid-feedback">
                                    <div *ngIf="additionalBusinessUnits.errors?.required">Business Unit is required
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="verify_location_midd">
                    <div class="info_holder">
                        <div class="left_info">
                            <p>Street Address<span style="color: #CC0200;">*</span> :</p>
                        </div>
                        <div class="right_info">

                            <input (keyup)="streetUpdated()" name="streetAddress" [(ngModel)]="locationData.street"
                                [ngModelOptions]="{standalone: true}" type="text" matInput #streetAddress="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && streetAddress.invalid }" required
                                minlength="10" maxlength="500" placeholder="Street Address"
                                class="form-control custom_input">

                            <!-- <mat-form-field>
                                <input (keyup)="streetUpdated()" name="streetAddress" [(ngModel)]="locationData.street"
                                    [ngModelOptions]="{standalone: true}" type="text" matInput #streetAddress="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && streetAddress.invalid }" required
                                    minlength="10" maxlength="500">
                            </mat-form-field> -->

                            <div *ngIf="f.submitted && streetAddress.invalid" class="invalid-feedback">
                                <div *ngIf="streetAddress.errors?.required">Street Address is required</div>

                                <ng-container *ngIf="(streetAddress.errors?.minlength)">
                                    Mobile Phone Min / Max Length is {{streetAddress.errors?.minlength?.requiredLength}}
                                </ng-container>

                            </div>



                        </div>
                    </div>
                    <div class="info_holder">
                        <div class="left_info">
                            <p>City:</p>
                        </div>
                        <div class="right_info">
                            <p>{{locationData.city}}</p>
                        </div>
                    </div>
                    <div class="info_holder">
                        <div class="left_info">
                            <p>State:</p>
                        </div>
                        <div class="right_info">
                            <p>{{locationData.state}}</p>
                        </div>
                    </div>
                    <div class="info_holder">
                        <div class="left_info">
                            <p>Zip:</p>
                        </div>
                        <div class="right_info">
                            <p>{{locationData.zip}}</p>
                        </div>
                    </div>
                    <div class="info_holder">
                        <div class="left_info">
                            <p>Main Phone<span style="color: #CC0200;">*</span> :</p>
                        </div>
                        <div class="right_info">

                            <input (keyup)="mainPhoneUpdated()" [(ngModel)]="locationData.mainPhone"
                                [ngModelOptions]="{standalone: true}" type="text" matInput #MobilePhone="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && MobilePhone.invalid }" required minlength="10"
                                maxlength="12" class="form-control custom_input" mask="000-000-0000"
                                placeholder="000-000-0000">

                            <!-- <mat-form-field>
                                <input (keyup)="mainPhoneUpdated()" [(ngModel)]="locationData.mainPhone"
                                    [ngModelOptions]="{standalone: true}" type="text" matInput #MobilePhone="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && MobilePhone.invalid }" required
                                    minlength="12" maxlength="12" placeholder="000-000-0000">
                            </mat-form-field> -->

                            <div *ngIf="f.submitted && MobilePhone.invalid" class="invalid-feedback">
                                <div *ngIf="MobilePhone.errors?.required">Main Phone is required</div>

                                <ng-container *ngIf="(MobilePhone.errors?.minlength); else elseTemplate">
                                    Main Phone Min / Max Length is 10
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <div *ngIf="MobilePhone.errors?.pattern">
                                        Mobile Phone should be valid number
                                    </div>
                                </ng-template>

                            </div>


                        </div>
                    </div>
                    <div class="info_holder">
                        <div class="left_info">
                            <p>After Hours Phone<span style="color: #CC0200;">*</span> :</p>
                        </div>
                        <div class="right_info">

                            <input (keyup)="afterHoursPhoneUpdated()" [(ngModel)]="locationData.afterHoursPhone"
                                [ngModelOptions]="{standalone: true}" type="text" matInput #afterHoursPhone="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && afterHoursPhone.invalid }" required
                                minlength="10" maxlength="12" placeholder="000-000-0000"
                                class="form-control custom_input" mask="000-000-0000">


                            <!-- <mat-form-field>
                                <input (keyup)="afterHoursPhoneUpdated()" [(ngModel)]="locationData.afterHoursPhone"
                                    [ngModelOptions]="{standalone: true}" type="text" matInput
                                    #afterHoursPhone="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && afterHoursPhone.invalid }" required
                                    minlength="12" maxlength="12" placeholder="000-000-0000">
                            </mat-form-field> -->

                            <div *ngIf="f.submitted && afterHoursPhone.invalid" class="invalid-feedback">
                                <div *ngIf="afterHoursPhone.errors?.required">After Hours Phone is required</div>

                                <ng-container *ngIf="(afterHoursPhone.errors?.minlength); else elseTemplate">
                                    After Hours Phone Min / Max Length is 10
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <div *ngIf="afterHoursPhone.errors?.pattern">
                                        After Hours Phone should be valid number
                                    </div>
                                </ng-template>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="verify_location_bottom r">
                    <div class="veri_bott_holder">
                        <p>Is the Red Pin correctly on your building?</p>
                        <mat-radio-group [(ngModel)]="locationData.isRedPinValid" (change)="locationEditted($event)"
                            [ngModelOptions]="{standalone: true}">
                            <mat-radio-button [value]=true>Yes</mat-radio-button>
                            <mat-radio-button [value]=false>No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="locationData.isRedPinValid == false" class="info_holder">
                        <div class="left_info">
                            <p>Notes<span style="color: #CC0200;">*</span> :</p>
                        </div>
                        <div class="right_info">
                            <mat-form-field>
                                <textarea [(ngModel)]="locationData.pinNotes" [ngModelOptions]="{standalone: true}"
                                    matInput required="{{!locationData.isRedPinValid:true:null" #pinNotes="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && pinNotes.invalid }" minlength="10"
                                    maxlength="500"></textarea>

                            </mat-form-field>

                            <p class="float-right font-weight-500 font-10">Max:500</p>

                            <div *ngIf="f.submitted && pinNotes.invalid" class="invalid-feedback">
                                <div *ngIf="pinNotes.errors?.required">Notes is required
                                </div>

                                <ng-container *ngIf="(pinNotes.errors?.minlength)">
                                    Notes Min Length is {{pinNotes.errors?.minlength?.requiredLength}}
                                </ng-container>

                            </div>


                        </div>
                    </div>
                    <div class="location_bott_btns">
                        <button (click)="goback()"
                            *ngIf="_serveyService.surveyInfo.personalInfoCertificationRequired && _serveyService.surveyInfo.locationInfoCertificationRequired"
                            class="prev_btn" mat-button>
                            PREVIOUS
                        </button>
                        <!-- <button *ngIf="editted" (click)="update()" class="update_btn" mat-button>
                            REQUEST UPDATE
                        </button> -->

                        <!-- (click)="next()" -->

                        <button type="submit" class="next_btn" mat-button>
                            NEXT
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="location_info_map">
            <!-- <agm-map class="location_map_image" [latitude]="lat" [longitude]="long" [zoom]="zoom">
                <agm-marker [latitude]="lat" [longitude]="long">
                </agm-marker>
            </agm-map> -->
            <img src="assets/images/map_location.png" alt="">
        </div>
    </div>
</div>