<div class="recurring_hours">
    <div class="recurring_hours_holder">
        <div class="info_holder">
            <div class="left_info">
                <p>Repeat every:</p>
            </div>
            <div class="right_info">
                <mat-form-field>
                    <mat-select [(ngModel)]="dailyMaintenances.repeatEvery" (ngModelChange)="changedView()">
                        <mat-option [value]="1">{{repeatEvery[1]}}</mat-option>
                        <mat-option [value]="2">{{repeatEvery[2]}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="repeatEvery[dailyMaintenances.repeatEvery] == 'Week'">
            <div class="info_holder">
                <div class="left_info">
                    <p>Start date<span style="color: #CC0200;">*</span> :</p>
                </div>
                <div class="right_info">
                    <mat-form-field>
                        <input [min]="minDate" [(ngModel)]="dailyMaintenances.startDate" matInput [matDatepicker]="picker" (ngModelChange)="weekDataChanged()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="days_holder">
                <div *ngFor="let day of daysArray" [ngClass]="day.isActive ? 'day active_day': 'day'"
                    (click)="addOrRemove(day)">
                    <p *ngIf="day.day == 'Thursday' || day.day == 'Sunday'">{{day.day[0]}}{{day.day[1]}} </p>
                    <p *ngIf="day.day != 'Thursday' && day.day != 'Sunday'">{{day.day[0]}}</p>
                </div>
            </div>
            <div *ngFor="let m of dailyMaintenances.dailyMaintenances" class="maintenance_window_hours">
                <p class="activ_day_p">{{weekOfDays[m.repetitiveWeek]}} Maintenance Window<span style="color: #CC0200;">*</span> :</p>
                <mat-form-field>
                    <mat-select [(ngModel)]="m.startTime" (ngModelChange)="weekDataChanged()">
                        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p>to</p>
                <mat-form-field>
                    <mat-select [(ngModel)]="m.endTime" (ngModelChange)="weekDataChanged()">
                        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="month_view" *ngIf="repeatEvery[dailyMaintenances.repeatEvery] == 'Month'">
            <div class="info_holder">
                <div class="left_info">
                    <p>Start date<span style="color: #CC0200;">*</span> :</p>
                </div>
                <div class="right_info">
                    <mat-form-field>
                        <input [min]="minDate" [(ngModel)]="dailyMaintenances.startDate" matInput [matDatepicker]="picker" (ngModelChange)="updateChanged($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div class="date_select">
                        <p>On day<span style="color: #CC0200;">*</span></p>  
                        <mat-form-field>
                            <mat-select [(ngModel)]="dailyMaintenances.repetitiveDay" (ngModelChange)="updateChanged()">
                                <!-- <mat-option value='' selected default>None</mat-option> -->
                                <mat-option *ngFor="let item of dayOfMonth" [value]="item">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="day_select">
                        <p>On the<span style="color: #CC0200;">*</span></p>
                        <mat-form-field>
                            <mat-select [(ngModel)]="dailyMaintenances.repetitiveWeekOfMonth" (ngModelChange)="updateChanged()">
                                <mat-option [value]="0">{{weekOfMonths[0]}}</mat-option>
                                <mat-option [value]="1">{{weekOfMonths[1]}}</mat-option>
                                <mat-option [value]="2">{{weekOfMonths[2]}}</mat-option>
                                <mat-option [value]="3">{{weekOfMonths[3]}}</mat-option>
                                <mat-option [value]="4">{{weekOfMonths[4]}}</mat-option>
                                <mat-option [value]="5">{{weekOfMonths[5]}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select [(ngModel)]="dailyMaintenances.repetitiveWeek" (ngModelChange)="updateChanged()">
                                <mat-option [value]="0">{{weekOfDays[0]}}</mat-option>
                                <mat-option [value]="1">{{weekOfDays[1]}}</mat-option>
                                <mat-option [value]="2">{{weekOfDays[2]}}</mat-option>
                                <mat-option [value]="3">{{weekOfDays[3]}}</mat-option>
                                <mat-option [value]="4">{{weekOfDays[4]}}</mat-option>
                                <mat-option [value]="5">{{weekOfDays[5]}}</mat-option>
                                <mat-option [value]="6">{{weekOfDays[6]}}</mat-option>
                                <mat-option [value]="7">{{weekOfDays[7]}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="maintenance_window_hours">
                <p class="main__win">Maintenance Window<span style="color: #CC0200;">*</span> :</p>
                <mat-form-field>
                    <mat-select [(ngModel)]="dailyMaintenances.startTime" (ngModelChange)="updateChanged()">
                        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p class="main_to">to</p>
                <mat-form-field>
                    <mat-select [(ngModel)]="dailyMaintenances.endTime" (ngModelChange)="updateChanged()">
                        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>