<h5>
    {{data.message}}
</h5>



<div class="row pt-2">
    <div class="col-6 mx-auto text-center">
        <button (click)="onNoClick();" class="btn btn-danger btn-sm">Close</button>
    </div>
</div>