$red-bg: #cc0100;
$grey-bg: #f7f6f9;
$white: #fff;
$black: #000;
$light-text-color: #79797a;
$dark-text-color: #505050;
$dark-navy: #013248;
$day-grey: #b5b4b6;
$day-font-color: #5c5c5c;
$text-red:#CC0200;