@import '../../styles/variables';

@import url("https://www.fonts.com/font/linotype/neue-helvetica?QueryFontType=Web&src=GoogleWebFonts");
@import url("https://www.fonts.com/font/linotype/helvetica?QueryFontType=Web&src=GoogleWebFonts");

body {
    font-family: Helvetica;
}

.cursor-pointer {
    cursor: pointer !important;
}

p {
    font: normal normal normal 16px/25px Helvetica;
    letter-spacing: 0px;
    color: #505050;
    font-size: 13px;
    margin: 0;
}

h4,
.h4 {
    font-size: 20px !important;
}

h5,
.h5 {
    font-size: 16px !important;
}

.font-12 {
    font-size: 12px;
}


.text-red {
    color: $text-red !important;
}

.text-white {
    color: $white !important;
}

.text-grey {
    color: $grey-bg !important;
}

.btn:focus,
button:focus {
    box-shadow: none !important;
}


/*************** Admin Header ********************/

.logo_white {
    width: 85%;
    // padding: 10px 0;
}


.bg-red {
    background-color: $red-bg !important;
}

.dashboard_header .nav-link,
.link-white {
    color: $white;
    font-size: 15px;
}

.dashboard_header li.nav-item {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 1px;
}

a.nav-link.active {
    color: $white !important;
    border-bottom: 4px solid $white;
}

.link-white:hover {
    color: #ffffff;
}

ul.dropdown-menu.text-small.shadow.show {
    margin-top: 8px;
}

.dropdown.profile_dropdown {
    padding-top: 5px;
}


// header
.nav_header_white {
    color: $white;

}

.nav_header_white_menu {
    color: $white;

}


// Borderless Table
.table> :not(caption)>*>* {
    padding: 1rem 0.5rem !important;
    background-color: var(--bs-table-bg);
    border-bottom-width: 0px !important;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}



.table th,
.table td {
    padding: 0.50rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6 !important;
    color: #505050;
    font-size: 14px;
}

// Dashboard
.tile_icon_red {
    width: 18px;
}

.tile_head_text {
    margin-bottom: 0.5rem;
    color: #505050;
    font-size: 14px;
    padding-left: 5px;
}

.tile_count {
    font-weight: bold;
    font-size: 28px !important;
    padding-left: 27px !important;
    color: #505050 !important;
}

.tile_counts {
    font-weight: bold;
    font-size: 18px !important;
    padding-left: 5px !important;
    color: #505050 !important;
}

.tile_sub_text {
    font-size: 13px;
    color: #505050;
    padding-left: 5px;
}

.tile_box_shaddow {
    box-shadow: 3px 3px 8px 0px rgb(113 109 109 / 80%);
    border: none;
    border-radius: 0 !important;
}



// badge 
.btn_pending_blue {
    color: white;
    background-color: #013248 !important;
    border-radius: 25px;
    padding: 3px 11px;
    font-size: 12px;
}


.day_name {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #013248;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #013248;
    padding-top: 10px;
    margin-right: 10px;
    float: left;
    font-size: 15px;

}


.pad_top_2_5 {
    padding-top: 2.5%;
}

.table thead th {
    vertical-align: bottom;
    color: #000000B3;
    font-size: 14px;
}

.font-weight-500 {
    font-weight: 500 !important;
}


.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background: #f8f9fa !important;
    color: #cc0100 !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: #343a40;
    border-radius: 2px;
    color: #fff;
    padding: 0px 10px 2px 10px !important;
    margin: 0 0.2em 0em 0 !important;
    border-radius: 25px;
}


.ng-select .ng-select-container .ng-value-container {
    border-top: 0 !important;
}

.ng-select.ng-select-multiple .ng-select-container.ng-has-value,
.ng-select .ng-select-container {
    align-items: center !important;
    border: 1px solid #dee2e6 !important;
    border-radius: 5px;
    padding-left: 5px;
}

.ng-value-label {
    font-size: 12px !important;
    font-weight: 400 !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    margin-bottom: 2px !important;
}

.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-clear-wrapper,
.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-arrow-wrapper {
    border-top: 0 !important;
}

.ng-select .ng-select-container:after {
    border-bottom: none !important;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid;
    margin: 0 5px;
    color: rgb(204 1 0) !important;
}

.ng-select .ng-select-container {
    min-height: 40px !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    font-size: 14px;
}


.close_btn {
    border: none !important;
    background: none !important;
}

.close_btn img {
    width: 25px !important;
}

.modal-content {
    border-radius: 0 !important;
}

.modal-footer {
    justify-content: flex-start !important;
    padding-left: 5% !important;
}

.btn_width_90 {
    width: 90px;
}

.width_90 {
    width: 90%;
}

.modal-xl {
    max-width: 95%;
}


agm-map {
    min-height: 200px;
}


.back_btn {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}



.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #c0c0c0 !important;
    outline: 0;
    box-shadow: none !important;
}



.custom_input{
    border: 1px solid grey !important;
    border-radius: 10px !important;
    font-size: 12px !important;
    padding: 0.2rem 0.5rem !important;
    min-height: 40px !important;
    color: #808080;
}

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #cc0100 !important;
    color: #fefefe;
    cursor: default;
}