
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.form-check-input[type="checkbox"]+label, label.btn input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    height: 1rem;
    padding-left: 20px;
    line-height: 1.5625rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-check-label {
    margin-bottom: 0;
}

.form-check-input[type="checkbox"].filled-in:checked+label:before, label.btn input[type="checkbox"].filled-in:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid transparent;
    -webkit-transform: rotateZ(
37deg
);
    transform: rotateZ(
37deg
);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.form-check-input[type="checkbox"].filled-in+label:before, .form-check-input[type="checkbox"].filled-in+label:after, label.btn input[type="checkbox"].filled-in+label:before, label.btn input[type="checkbox"].filled-in+label:after {
    position: absolute;
    left: 0;
    z-index: 1;
    content: "";
    -webkit-transition: border 0.25s,background-color 0.25s,width 0.2s .1s,height 0.2s .1s,top 0.2s .1s,left 0.2s .1s;
    transition: border 0.25s,background-color 0.25s,width 0.2s .1s,height 0.2s .1s,top 0.2s .1s,left 0.2s .1s;
}
.form-check-input[type="checkbox"]:checked+label:before, label.btn input[type="checkbox"]:checked+label:before {
    top: 1px;
    left: 0px;
    width: 7px;
    height: 13px;
    border-top: 2px solid transparent;
    border-right: 2px solid #cc0100;
    border-bottom: 2px solid #cc0100;
    border-left: 2px solid transparent;
    -webkit-transform: rotate(
40deg
);
    transform: rotate(
40deg
);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.form-check-input[type="checkbox"]+label:before, .form-check-input[type="checkbox"]:not(.filled-in)+label:after, label.btn input[type="checkbox"]+label:before, label.btn input[type="checkbox"]:not(.filled-in)+label:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 18px;
    height: 18px;
    margin-top: 3px;
    content: "";
    border: 2px solid #8a8a8a;
    border-radius: 1px;
    -webkit-transition: .2s;
    transition: .2s;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.form-check-input[type="checkbox"].filled-in:checked+label:after, label.btn input[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    z-index: 0;
    width: 20px;
    height: 20px;
    background-color: #a6c;
    border: 2px solid #a6c;
}
.form-check-input[type="checkbox"].filled-in+label:before, .form-check-input[type="checkbox"].filled-in+label:after, label.btn input[type="checkbox"].filled-in+label:before, label.btn input[type="checkbox"].filled-in+label:after {
    position: absolute;
    left: 0;
    z-index: 1;
    content: "";
    // -webkit-transition: border 0.25s,background-color 0.25s,width 0.2s .1s,height 0.2s .1s,top 0.2s .1s,left 0.2s .1s;
    // transition: border 0.25s,background-color 0.25s,width 0.2s .1s,height 0.2s .1s,top 0.2s .1s,left 0.2s .1s;
}
.form-check-input[type="checkbox"].filled-in+label:after, label.btn input[type="checkbox"].filled-in+label:after {
    border-radius: .125rem;
}


//  .ng-value {
//     display: none !important;
// }