@import "../../styles/variables";

@import url("https://www.fonts.com/font/linotype/neue-helvetica?QueryFontType=Web&src=GoogleWebFonts");
@import url("https://www.fonts.com/font/linotype/helvetica?QueryFontType=Web&src=GoogleWebFonts");

body {
  font-family: Helvetica;
}

.cursor-pointer {
  cursor: pointer !important;
}

p {
  font: normal normal normal 16px/25px Helvetica;
  letter-spacing: 0px;
  color: #505050;
  font-size: 13px;
  margin: 0;
}

.main_landing_page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;

  .main_side_nav {
    height: 100%;
    width: 20%;
    min-width: 250px;
  }

  .main_routing_pages {
    height: 100%;
    width: 80%;
    background: $grey-bg;
  }
}

/************* Contact Information *******************/

.contact_information_page {
  height: 100vh;
  width: 100%;
  padding: 5vh 75px;
  overflow-y: scroll;

  .contact_info_head {
    padding-bottom: 1.8rem;
    border-bottom: 1px dotted grey;

    h2 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      font-weight: 600;
    }
    p {
      font-size: 13px;
      color: $light-text-color;
    }
  }

  .info_holder {
    width: fit-content;

    .verify_contact_info {
      margin-bottom: 1rem;
      padding-top: 2.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px dotted $dark-text-color;

      h2 {
        font-weight: 200;
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
    }
    .emergency_contact {
      margin-top: 1rem;
      .emer_cont_holder {
        display: flex;
        align-items: center;
        // justify-content: space-between;

        p {
          font-size: 0.7rem;
          color: $dark-text-color;
          min-width: 250px !important;
          word-wrap: wrap;
        }

        ::ng-deep .mat-radio-label-content {
          font-size: 0.7rem !important;
          margin-right: 10px;
        }
        ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
        .mat-radio-button.mat-accent
          .mat-radio-ripple
          .mat-ripple-element:not(.mat-radio-persistent-ripple),
        .mat-radio-button.mat-accent.mat-radio-checked
          .mat-radio-persistent-ripple,
        .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
          background: white !important;
        }
        ::ng-deep
          .mat-radio-button.mat-accent.mat-radio-checked
          .mat-radio-outer-circle {
          border: 10px solid #013248 !important;
        }
        ::ng-deep .mat-radio-button .mat-radio-ripple {
          height: 0 !important;
          width: 0 !important;
        }
      }

      .visible_emer_contact {
        margin-top: 1.3rem;
        color: $dark-text-color;
        font-weight: 700;

        p {
          font-size: 0.7rem;
        }
        .visible_emer_holder {
          margin-top: 1rem;
        }
      }
    }

    // for left and right (text field)
    .info_holder {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      p {
        font-size: 0.7rem;
      }

      .left_info {
        min-width: 150px;

        p {
          color: #505050;
          font-weight: 700;
          font-size: 13px;
        }
      }
      .right_info {
        width: 200px;
        p {
          color: $light-text-color;
          font-size: 14px;
        }
        .mat-form-field {
          border: 1px solid $light-text-color;
          padding: 0.8rem 7px !important;
          background: $white;
          border-radius: 10px;
          font-size: 0.7rem !important;
          width: 100%;
          color: $light-text-color;
        }

        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
          padding: 0 !important;
        }

        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper,
        .mat-form-field-wrapper {
          padding: 0;
        }

        ::ng-deep .mat-form-field-infix {
          padding: 0 !important;
          border-top: 0 !important;
        }
        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
          display: none !important;
        }
      }
    }
    .contact_next_btn {
      background: $red-bg !important;
      margin-top: 1rem;
      color: white !important;
      padding: 0.2rem 3rem !important;
      font-size: 0.7rem !important;
    }
  }

  .additionalQues {
    border-bottom: 1px dotted $dark-text-color;

    .left_info {
      p {
        font-weight: normal !important;
        font-size: 0.7rem !important;
        min-width: 250px !important;
        word-wrap: wrap;
      }
    }
    .right_info {
      ::ng-deep .mat-radio-label-content {
        font-size: 0.7rem !important;
        margin-right: 10px;
      }
      ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
      .mat-radio-button.mat-accent
        .mat-radio-ripple
        .mat-ripple-element:not(.mat-radio-persistent-ripple),
      .mat-radio-button.mat-accent.mat-radio-checked
        .mat-radio-persistent-ripple,
      .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
        background: white !important;
      }
      ::ng-deep
        .mat-radio-button.mat-accent.mat-radio-checked
        .mat-radio-outer-circle {
        border: 10px solid #013248 !important;
      }
      ::ng-deep .mat-radio-button .mat-radio-ripple {
        height: 0 !important;
        width: 0 !important;
      }
    }
  }
}
::ng-deep .mat-chip {
  padding: 5px 0.8rem !important;
  background: $dark-navy !important;
  color: $white !important;
  height: fit-content !important;
  min-height: fit-content !important;
  font-size: 0.6rem !important;
}
::ng-deep .mat-chip.mat-standard-chip .mat-chip-remove {
  color: $white !important;
  opacity: 0.7 !important;
}
::ng-deep .mat-chip-list-wrapper {
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
}
::ng-deep .mat-form-field-underline {
  display: none !important;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background: none !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important;
}

/************* Location Info ******************/
.location_information_page {
  height: 100vh;
  width: 100%;
  padding: 5vh 75px;
  overflow-y: scroll;

  .location_info_head {
    padding-bottom: 1.8rem;
    border-bottom: 1px dotted grey;

    h2 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      font-weight: 600;
    }
    p {
      font-size: 13px;
      color: $light-text-color;
    }
  }

  .location_info_holder {
    padding-top: 2.5rem;
    width: 80%;
    display: flex;

    .verify_location_info {
      h2 {
        font-weight: 200;
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
    }

    .verify_location_form {
      width: fit-content;

      .verify_location_head {
        margin-bottom: 1rem;
      }

      .info_holder {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        p {
          font-size: 0.7rem;
        }

        .left_info {
          min-width: 150px;

          p {
            color: #505050;
            font-weight: 700;
            font-size: 13px;
          }
        }
        .right_info {
          width: 200px;
          p {
            color: $light-text-color;
            font-size: 14px;
          }
          .mat-form-field {
            border: 1px solid $light-text-color;
            padding: 0.8rem 7px !important;
            background: $white;
            border-radius: 10px;
            font-size: 0.7rem !important;
            width: 100%;
            color: $light-text-color;
          }

          ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
            padding: 0 !important;
          }

          ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper,
          .mat-form-field-wrapper {
            padding: 0;
          }

          ::ng-deep .mat-form-field-infix {
            padding: 0 !important;
            border-top: 0 !important;
          }
          ::ng-deep
            .mat-form-field-appearance-legacy
            .mat-form-field-underline {
            display: none !important;
          }
        }
      }

      .additional_busi_unit,
      .r {
        margin-top: 1.8rem;
        border-bottom: 1px dotted $dark-text-color;
        padding-bottom: 1rem;

        .additional_busi_unit_holder,
        .veri_bott_holder {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;

          p {
            font-size: 0.7rem;
            color: $dark-text-color;
            margin-right: 5rem;
          }

          ::ng-deep .mat-radio-label-content {
            font-size: 0.7rem !important;
            margin-right: 10px;
            color: $light-text-color !important;
          }
          ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
          .mat-radio-button.mat-accent
            .mat-radio-ripple
            .mat-ripple-element:not(.mat-radio-persistent-ripple),
          .mat-radio-button.mat-accent.mat-radio-checked
            .mat-radio-persistent-ripple,
          .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
            background: white !important;
          }
          ::ng-deep
            .mat-radio-button.mat-accent.mat-radio-checked
            .mat-radio-outer-circle {
            border: 10px solid $dark-navy !important;
          }
          ::ng-deep .mat-radio-button .mat-radio-ripple {
            height: 0 !important;
            width: 0 !important;
          }
        }
      }

      .verify_location_midd {
        padding-bottom: 1rem;
        border-bottom: 1px dotted $dark-text-color;
      }
      .verify_location_bottom {
        border: none !important;

        .location_bott_btns {
          margin-top: 3rem;
          display: flex;

          button {
            margin-right: 30px;
            width: 10rem;
            padding: 0.3rem 1rem;
            font-size: 0.7rem !important;
          }
          .prev_btn {
            border: 1px solid $red-bg !important;
            color: $red-bg !important;
          }
          .update_btn {
            background: $dark-navy !important;
            color: $white !important;
          }
          .next_btn {
            background: $red-bg !important;
            color: $white !important;
          }
        }
      }
    }

    .location_info_map {
      margin-top: 5rem;
      margin-left: 5rem;
      height: 17rem;
      width: 17rem;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
.search_select {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $light-text-color;
  margin: 0.7rem 10px;
  margin-top: 0.5rem;
  border-radius: 10px;
  padding: 3px;

  input {
    width: 90%;
    border: 0;
    outline: none;
    background: none;
  }
  .search_icon {
    height: 0.7rem !important;
    width: 0.7rem !important;
    font-size: 0.7rem !important;
  }
}
::ng-deep .mat-option {
  display: flex !important;
  flex-direction: row-reverse !important;
}
::ng-deep .mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: none !important;
  border: 1px solid $light-text-color !important;
}
::ng-deep .mat-pseudo-checkbox-checked::after {
  color: $red-bg !important;
}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $light-text-color !important;
}
::ng-deep .mat-chip {
  padding: 2px 0.5rem !important;
  background: $dark-navy !important;
  color: $white !important;
  height: fit-content !important;
  min-height: fit-content !important;
  font-size: 0.6rem !important;
}
::ng-deep .mat-chip.mat-standard-chip .mat-chip-remove {
  color: $white !important;
  opacity: 0.7 !important;
}
::ng-deep .mat-chip-list-wrapper {
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
}

.verify_location_head p {
  font-size: 13px !important;
}

/************* Maintenance Hours *******************/

.maintenance_hours_page {
  height: 100vh;
  width: 100%;
  padding: 5vh 75px;
  overflow-y: scroll;

  .maintenance_hours_head {
    padding-bottom: 1.8rem;
    border-bottom: 1px dotted grey;

    h2 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      font-weight: 600;
    }
    p {
      font-size: 13px;
      color: $light-text-color;
    }
  }

  .maintenance_hours_holder {
    padding-top: 2.5rem;
    width: 80%;

    .maintenance_hours_info {
      h2 {
        font-weight: 200;
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
    }

    .maintenance_hours_form {
      width: fit-content;

      .rad-grp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 27rem;
        margin-bottom: 1rem;

        p {
          font-size: 0.7rem;
          color: $dark-text-color;
          margin-right: 5rem;
          font: normal normal 12px/10px Helvetica !important;
          margin-bottom: 0 !important;
        }

        ::ng-deep .mat-radio-label-content {
          font-size: 0.7rem !important;
          margin-right: 10px;
          color: $light-text-color !important;
        }
        ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
        .mat-radio-button.mat-accent
          .mat-radio-ripple
          .mat-ripple-element:not(.mat-radio-persistent-ripple),
        .mat-radio-button.mat-accent.mat-radio-checked
          .mat-radio-persistent-ripple,
        .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
          background: white !important;
        }
        ::ng-deep
          .mat-radio-button.mat-accent.mat-radio-checked
          .mat-radio-outer-circle {
          border: 10px solid $dark-navy !important;
        }
        ::ng-deep .mat-radio-button .mat-radio-ripple {
          height: 0 !important;
          width: 0 !important;
        }
      }
      .info_holder {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        p {
          font-size: 0.7rem;
        }

        .left_info {
          min-width: 150px;

          p {
            color: $dark-text-color;
            font-weight: 700;
          }
        }
        .right_info {
          width: 200px;
          p {
            color: $light-text-color;
          }
          .mat-form-field {
            border: 1px solid $light-text-color !important;
            padding: 0.8rem 7px !important;
            background: $white;
            border-radius: 10px;
            font-size: 0.7rem !important;
            width: 100%;
            color: $light-text-color;
          }

          ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
            padding: 0 !important;
          }

          ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper,
          .mat-form-field-wrapper {
            padding: 0;
          }

          ::ng-deep .mat-form-field-infix {
            padding: 0 !important;
            border-top: 0 !important;
          }
          ::ng-deep
            .mat-form-field-appearance-legacy
            .mat-form-field-underline {
            display: none !important;
          }
        }
      }

      .button_grp {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        button {
          margin-right: 30px;
          width: 10rem;
          padding: 0.3rem 1rem;
          font-size: 0.7rem !important;
        }
        .prev_btn {
          border: 1px solid $red-bg !important;
          color: $red-bg !important;
        }
        .nxt_btn {
          background: $red-bg !important;
          color: white !important;
        }
        .w {
          display: flex;
          align-items: center;
          opacity: 0;
          transition: 0.5s;
          .warning {
            color: $red-bg !important;
            font-size: 0.7rem !important;
            cursor: pointer;
            height: fit-content !important;
            width: fit-content !important;
            margin-right: 0.5rem;
          }
          p {
            color: $red-bg;
            font-size: 0.7rem;
          }
        }
        .visible {
          opacity: 1 !important;
        }
      }
    }
  }
}

/************* Non Recurring Hours *******************/

.non_recurring_hours {
  margin-top: 3rem;
  display: flex;

  .date_hours_holder {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .select_hour,
    .select_date {
      display: flex;
      align-items: center;

      p {
        font-size: 0.7rem;
        color: $dark-text-color;
        margin-right: 0.5rem;
        margin-bottom: 0 !important;
      }
      .mat-form-field {
        border: 1px solid $light-text-color !important;
        padding: 0.8rem 7px !important;
        background: $white;
        border-radius: 10px;
        font-size: 0.7rem !important;
        width: fit-content !important;
        color: $light-text-color;
      }

      ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 0 !important;
      }

      ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper,
      .mat-form-field-wrapper {
        padding: 0;
      }

      ::ng-deep .mat-form-field-infix {
        padding: 0 !important;
        border-top: 0 !important;
      }
      ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
        display: none !important;
      }
    }

    .select_date {
      margin-right: 1rem;
      .mat-form-field {
        width: 12rem !important;
        padding: 0.5rem 7px !important;
      }
      ::ng-deep .mat-button .mat-button-focus-overlay,
      .mat-icon-button .mat-button-focus-overlay {
        width: 0 !important;
        height: 0 !important;
      }
      ::ng-deep .mat-button-focus-overlay {
        background: none !important;
      }
      ::ng-deep .mat-button-ripple.mat-ripple,
      .mat-button-focus-overlay {
        width: 0 !important;
        height: 0 !important;
      }
      ::ng-deep .mat-datepicker-toggle,
      .mat-datepicker-content .mat-calendar-next-button,
      .mat-datepicker-content .mat-calendar-previous-button {
        color: $red-bg !important;
        font-size: 1rem !important;
      }
    }

    .select_hour {
      p {
        margin-left: 0.5rem;
        margin-bottom: 0 !important;
      }
      .mat-form-field {
        width: 6rem !important;
      }
    }

    .del_icon,
    .add_btn {
      margin-left: 2rem;
      color: $red-bg;
      cursor: pointer;
      height: 24px !important;
      width: 24px !important;
    }
  }
}

/************* Office Hours *******************/

.office_hours_page {
  height: 100vh;
  width: 100%;
  padding: 5vh 75px;
  overflow-y: scroll;

  .office_hours_head {
    padding-bottom: 1.8rem;
    border-bottom: 1px dotted grey;

    h2 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      font-weight: 600;
    }
    p {
      font-size: 13px;
      color: $light-text-color;
    }
  }

  .office_hours_holder {
    padding-top: 2.5rem;
    width: 90%;

    .office_hours_info {
      h2 {
        font-weight: 200;
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
    }

    .office_hours_days {
      .office_hour_day {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .day {
          display: grid;
          place-items: center;
          min-height: 2.3rem;
          min-width: 2.3rem;
          border-radius: 50%;
          font-size: 0.9rem;
          font-weight: 700;
          margin-right: 2rem;

          p {
            margin: 0 !important;
            color: white !important;
          }
        }
        .on_day {
          background: $dark-navy;
        }
        .off_day {
          background: $red-bg !important;
        }

        .open_slide,
        .close_slide {
          color: $light-text-color;
          font-size: 0.7rem;

          ::ng-deep .mat-slide-toggle-thumb {
            background: $dark-navy !important;
          }
          ::ng-deep .mat-slide-toggle-bar {
            background: white !important;
            border: 1px solid $dark-navy !important;
          }

          ::ng-deep .mat-slide-toggle-thumb-container {
            top: 1px !important;
            left: 1px !important;
            height: 12px !important;
            width: 12px !important;
          }
          ::ng-deep .mat-slide-toggle-thumb {
            height: 12px !important;
            width: 12px !important;
          }
          ::ng-deep .mat-slide-toggle-bar {
            height: 17px !important;
            width: 33px !important;
          }
          ::ng-deep .mat-slide-toggle .mat-slide-toggle-ripple {
            display: none !important;
          }
          ::ng-deep .mat-slide-toggle-content {
            width: 5rem;
          }
        }
        .close_slide {
          ::ng-deep .mat-slide-toggle-thumb {
            background: $light-text-color !important;
          }
          ::ng-deep .mat-slide-toggle-bar {
            border: 1px solid $light-text-color !important;
          }
        }

        .office_hours_select {
          display: flex;
          align-items: center;

          .select_holder {
            display: flex;
            align-items: center;

            p {
              color: $dark-text-color;
              font-weight: 700;
              font-size: 0.7rem;
              margin: 0 !important;
            }
            .slash {
              margin: 0 1rem;
            }
            .activ_day_p {
              width: 15rem;
            }

            .mat-form-field {
              border: 1px solid $light-text-color !important;
              padding: 0.8rem 7px !important;
              background: $white;
              border-radius: 10px;
              font-size: 0.7rem !important;
              width: 6rem !important;
              color: $light-text-color;
              margin: 0 0.5rem;
            }

            ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
              padding: 0 !important;
            }
            ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
              padding: 0 !important;
            }

            ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper,
            .mat-form-field-wrapper {
              padding: 0;
            }

            ::ng-deep .mat-form-field-infix {
              padding: 0 !important;
              border-top: 0 !important;
            }
            ::ng-deep
              .mat-form-field-appearance-legacy
              .mat-form-field-underline {
              display: none !important;
            }

            .add_delete_btns {
              width: 4rem;
              margin-left: 1rem;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .mat-icon {
                color: $red-bg !important;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .button_grp {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    button {
      margin-right: 30px;
      width: 10rem;
      padding: 0.3rem 1rem;
      font-size: 0.7rem !important;
    }
    .prev_btn {
      border: 1px solid $red-bg !important;
      color: $red-bg !important;
    }
    .nxt_btn {
      background: $red-bg !important;
      color: white !important;
    }
    .w {
      display: flex;
      align-items: center;
      opacity: 0;
      transition: 0.5s;
      .warning {
        color: $red-bg !important;
        font-size: 0.7rem !important;
        cursor: pointer;
        height: fit-content !important;
        width: fit-content !important;
        margin-right: 0.5rem;
      }
      p {
        color: $red-bg;
        font-size: 0.7rem;
      }
    }
    .visible {
      opacity: 1 !important;
    }
  }
}

/************* Recurring Hours *******************/

.recurring_hours {
  .recurring_hours_holder {
    .info_holder {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
      p {
        font-size: 0.7rem;
      }

      .left_info {
        min-width: 150px;

        p {
          color: $dark-text-color;
          font-weight: 700;
          margin: 0 !important;
        }
      }
      .right_info {
        width: 220px;
        p {
          color: $light-text-color;
        }
        .mat-form-field {
          border: 1px solid $light-text-color !important;
          padding: 0.8rem 7px !important;
          background: $white;
          border-radius: 10px;
          font-size: 0.7rem !important;
          width: 100%;
          color: $light-text-color;
        }

        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
          padding: 0 !important;
        }

        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper,
        .mat-form-field-wrapper {
          padding: 0;
        }

        ::ng-deep .mat-form-field-infix {
          padding: 0 !important;
          border-top: 0 !important;
        }
        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
          display: none !important;
        }
        ::ng-deep .mat-button .mat-button-focus-overlay,
        .mat-icon-button .mat-button-focus-overlay {
          width: 0 !important;
          height: 0 !important;
        }
        ::ng-deep .mat-button-focus-overlay {
          background: none !important;
        }
        ::ng-deep .mat-button-ripple.mat-ripple,
        .mat-button-focus-overlay {
          width: 0 !important;
          height: 0 !important;
        }
        ::ng-deep .mat-datepicker-toggle,
        .mat-datepicker-content .mat-calendar-next-button,
        .mat-datepicker-content .mat-calendar-previous-button {
          color: $red-bg !important;
          font-size: 1rem !important;
        }
      }
    }

    .days_holder {
      display: flex;
      margin-top: 2rem;
      cursor: pointer;

      .day {
        display: grid;
        place-items: center;
        height: 2.5rem;
        width: 2.5rem;
        background: $day-grey;
        margin-right: 0.5rem;
        border-radius: 50%;
        font-size: 0.7rem;

        p {
          color: $day-font-color;
          margin: 0 !important;
        }
      }
      .active_day {
        background: $dark-navy !important;
        p {
          color: white !important;
        }
      }
    }

    .maintenance_window_hours {
      display: flex;
      align-items: center;
      margin-top: 2rem;

      p {
        color: $dark-text-color;
        font-weight: 700;
        font-size: 0.7rem;
        margin: 0 !important;
      }
      .activ_day_p {
        width: 15rem;
      }

      .mat-form-field {
        border: 1px solid $light-text-color !important;
        padding: 0.8rem 7px !important;
        background: $white;
        border-radius: 10px;
        font-size: 0.7rem !important;
        width: 6rem !important;
        color: $light-text-color;
        margin: 0 0.5rem;
      }

      ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 0 !important;
      }

      ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper,
      .mat-form-field-wrapper {
        padding: 0;
      }

      ::ng-deep .mat-form-field-infix {
        padding: 0 !important;
        border-top: 0 !important;
      }
      ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
        display: none !important;
      }
    }

    .month_view {
      .info_holder {
        align-items: start !important;

        .left_info {
          p {
            margin: 0 !important;
          }
        }

        .right_info {
          width: fit-content !important;
          .mat-form-field {
            width: 220px !important;
          }

          .date_select {
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
            p {
              margin-right: 10px !important;
              font-size: 0.7rem;
              font-weight: 700;
              color: $dark-text-color !important;
              margin-bottom: 0 !important;
            }

            .mat-form-field {
              width: 3.5rem !important;
            }
          }

          .day_select {
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
            p {
              font-size: 0.7rem;
              font-weight: 700;
              color: $dark-text-color !important;
            }

            .mat-form-field {
              width: 5rem !important;
              margin-left: 10px;
            }
          }
        }
      }

      .maintenance_window_hours {
        .main__win {
          width: 150px !important;
        }
        .main_to {
          margin: 0.3rem !important;
        }
      }
    }
  }
}

::ng-deep .mat-calendar-body-selected {
  background: $red-bg !important;
}

/************* Submit Page *******************/
.submit_page {
  height: 100vh;
  width: 100%;
  padding: 5vh 75px;
  overflow-y: auto;
  .submit_page_head {
    padding-bottom: 1.8rem;
    border-bottom: 1px dotted grey;

    h2 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      font-weight: 600;
    }
  }
  .submitted_msg {
    display: flex;
    align-items: center;
    padding-top: 2rem;

    img {
      height: 5rem;
      object-fit: cover;
    }
  }
}

/************* Form Validations *******************/

.invalid-feedback {
  display: inline;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 12px;
  color: #dc3545;
}

.ng-dirty.mat-form-field-invalid.ng-invalid,
.mat-form-field-invalid {
  border: 1px solid #dc3545 !important;
}

.custom_input {
  border: 1px solid grey;
  border-radius: 10px !important;
  font-size: 12px !important;
  padding: 0.2rem 0.5rem !important;
  min-height: 40px !important;
  color: #808080;
}

.form-control.is-invalid {
  border: 1px solid #de0f0f !important;
}

.font-10 {
  font-size: 10px !important;
}

// Firefox Changes
.mat-radio-input {
  opacity: 0 !important;
}
