<ng-container *ngIf="(_adminService.isViewDetailRequest); else elseTemplate">
    <app-location-info></app-location-info>
</ng-container>

<ng-template #elseTemplate>
    <div class="container mt-4">

        <div class="row">
            <div class="col-md-12 mx-auto">

                <div class="card-deck">
                    <div class="card tile_box_shaddow">
                        <div class="card-body">
                            <h6 class="card-title">
                                <!-- <i class="fas fa-building tile_icon_red"></i> -->
                                <img src="assets/images/location.png" class="tile_icon_red" alt="">

                                <span class="tile_head_text">
                                    Total Locations
                                </span>
                            </h6>
                            <h5 class="tile_count">43,981</h5>
                        </div>
                    </div>

                    <div class="card tile_box_shaddow">
                        <div class="card-body">
                            <h6 class="card-title">
                                <!-- <i class="fa fa-exclamation-triangle tile_icon_red"></i> -->
                                <img src="assets/images/recertifications.png" class="tile_icon_red" alt="">

                                <span class="tile_head_text">
                                    Critical Recertifications
                                </span>
                            </h6>
                            <h6 class=" mb-2  pl-4 cursor-pointer" (click)="_adminService.selectedTileLocation(1);">
                                <span class="tile_counts">80</span>
                                <span class="tile_sub_text">Locations</span>
                            </h6>
                            <h6 class="mb-2  pl-4">
                                <span class="tile_counts">40</span>
                                <span class="tile_sub_text">Site Contacts</span>
                            </h6>
                        </div>
                    </div>

                    <div class="card tile_box_shaddow">
                        <div class="card-body">
                            <h6 class="card-title">
                                <!-- <i class="fa fa-clock tile_icon_red"></i> -->
                                <img src="/images/clock1.png" class="tile_icon_red" alt="">

                                <span class="tile_head_text">
                                    Pending Recertifications
                                </span>
                            </h6>
                            <h6 class=" mb-2  pl-4 cursor-pointer" (click)="_adminService.selectedTileLocation(2);">
                                <span class="tile_counts">80</span>
                                <span class="tile_sub_text">Locations</span>
                            </h6>
                            <h6 class="mb-2  pl-4">
                                <span class="tile_counts">40</span>
                                <span class="tile_sub_text">Site Contacts</span>
                            </h6>
                        </div>
                    </div>

                    <div class="card tile_box_shaddow">
                        <div class="card-body">
                            <h6 class="card-title">
                                <!-- <i class="fa fa-certificate tile_icon_red"></i> -->
                                <img src="assets/images/certified.png" class="tile_icon_red" alt="">
                                <span class="tile_head_text">
                                    Certified
                                </span>
                            </h6>
                            <h6 class=" mb-2  pl-4 cursor-pointer" (click)="_adminService.selectedTileLocation(4);">
                                <span class="tile_counts">80</span>
                                <span class="tile_sub_text">Locations</span>
                            </h6>
                            <h6 class="mb-2  pl-4">
                                <span class="tile_counts">40</span>
                                <span class="tile_sub_text">Site Contacts</span>
                            </h6>
                        </div>
                    </div>

                    <div class="card tile_box_shaddow">
                        <div class="card-body">
                            <h6 class="card-title">
                                <!-- <i class="fa fa-clock tile_icon_red"></i> -->
                                <img src="assets/images/clock.png" class="tile_icon_red" alt="">
                                <span class="tile_head_text">
                                    Pending approvals
                                </span>
                            </h6>
                            <h6 class=" mb-2  pl-4 cursor-pointer" (click)="_adminService.selectedTileLocation(3);">
                                <span class="tile_counts">80</span>
                                <span class="tile_sub_text">Locations</span>
                            </h6>
                            <h6 class="mb-2  pl-4">
                                <span class="tile_counts">40</span>
                                <span class="tile_sub_text">Site Contacts</span>
                            </h6>
                        </div>
                    </div>
                </div>

            </div>





        </div>


        <div class="row mt-4">

            <div class="col-md-12 mx-auto">
                <div class="row">
                    <div class="col-md-4 ">
                        <h4 class="pt_10">Requested Updates</h4>
                    </div>

                    <div class="col pad_top_2_5 text-right"
                        *ngIf="_adminService.selectedFilterItems_Dashboard?.length>0">
                        <p>
                            <!-- <b class="mr-1">Applied Filters:</b> -->
                            <ng-container *ngFor="let item of _adminService.applied_Filters_Dashboard; let i=index;">
                                <span class="badge badge-pill badge-dark mr-1 left_selected_badge">{{item.lable}}
                                    <i (click)="removeFilters(i)" class="fas fa-times"></i>
                                </span>
                            </ng-container>
                        </p>
                    </div>


                    <div class="col-md-3  ml-auto ">
                        <small>Filter types of requests</small>

                        <ng-select [items]="_adminService.dropdownData_Dashboard" [multiple]="true" bindLabel="lable"
                            [closeOnSelect]="false" bindValue="value" (change)="selectFilters($event)"
                            [(ngModel)]="_adminService.selectedFilterItems_Dashboard">

                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">

                                <!-- <div *ngFor="let item of items | slice:0:1; let i=index;">

                                    <div class="ng-value">
                                        <span aria-hidden="true" class="ng-value-icon left"
                                            (click)="clear(item)">×</span>
                                        <span class="ng-value-label">
                                            {{items[i].lable}}
                                        </span>
                                    </div>

                                </div> -->

                                <div class="ng-value form_span_badge" *ngIf="items.length>0">

                                    <span class="ng-value-label">
                                        {{items.length }} Selected...
                                    </span>
                                </div>

                            </ng-template>


                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                {{item.lable}}

                                <div class="form-check  float-right ">
                                    <input type="checkbox" class="form-check-input" id="item-{{index}}"
                                        [ngModel]="item$.selected">
                                    <label class="form-check-label" for="item-{{index}}"></label>
                                </div>

                            </ng-template>
                        </ng-select>


                    </div>
                </div>
            </div>



            <div class="col-md-12 mx-auto mt-2">
                <div class="card tile_box_shaddow">
                    <div class="card-body pt-1">
                        <div class="table-responsive">
                            <table class="table table_border_0px">
                                <thead *ngIf="_adminService.dashboardData?.results?.length>0">
                                    <tr>
                                        <th>Location Name</th>
                                        <th>Requested By</th>
                                        <th>Requested On</th>
                                        <th>Type of Request</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <ng-container *ngIf="_adminService.dashboardData?.results?.length>0">

                                        <ng-container
                                            *ngFor="let item of _adminService.dashboardData?.results | paginate: { itemsPerPage:_adminService.paginations.dashboard.itemsPerPage,currentPage: _adminService.paginations.dashboard.currentPage, totalItems: _adminService.dashboardData?.rowCount }">

                                            <tr>
                                                <td>{{item.primaryKey}}</td>
                                                <td>{{item.siteContactPersonalInfo?.name}}</td>
                                                <td>{{formatDate(item.updatedAt)}}</td>
                                                <td>
                                                    <span *ngIf="item.logType == 2"> Location Information
                                                        Verification</span>
                                                    <span *ngIf="item.logType == 3"> Office Hours Verification</span>
                                                    <span *ngIf="item.logType == 4"> Maintenance Hours
                                                        Verification</span>
                                                </td>
                                                <td>
                                                    <button (click)="viewRequestedInfo(item);" type="button"
                                                        class="btn btn-sm btn-outline-danger font-weight-500">View
                                                        Details</button>
                                                </td>
                                            </tr>

                                        </ng-container>
                                    </ng-container>

                                    <ng-container *ngIf="_adminService.dashboardData?.results?.length==0">

                                        <tr>
                                            <td class="text-center font-weight-500 no_records" colspan="5">No Records
                                                Found!</td>
                                        </tr>
                                    </ng-container>






                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>

            </div>

            <div class="col-12 mt-3 " *ngIf="_adminService.dashboardData?.results?.length>0">
                <nav aria-label="Page navigation example">

                    <div ul class="pagination justify-content-center">
                        <pagination-controls
                            (pageChange)="changePagination((_adminService.paginations.dashboard.currentPage = $event))"
                            previousLabel="" nextLabel="">
                        </pagination-controls>
                    </div>

                </nav>

            </div>
        </div>
        <ng-container *ngIf="_adminService.spinner">
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
                [fullScreen]="true">
            </ngx-spinner>
        </ng-container>
    </div>

</ng-template>