@import '../../../../../styles/variables';


.location_map_image {
    width: 300px;
    height: 290px;
}

.address_text_bold {
    font-weight: 500;
    font-size: 14px;
}

.address_text_16 {
    font-size: 16px;

}

.left_border_2px {
    border-left: 2px solid rgb(161, 159, 159);
}

.approve_button {
    color: white;
    background-color: $red-bg;
}

.btn_width{
    width: 75px;
}

.bg_light_red{
    background: #CC020033 0% 0% no-repeat padding-box;
    border-radius: 15px;
}

.bg_light_green{
    background: #0132484D 0% 0% no-repeat padding-box;
    border-radius: 15px;
}

.approved_icon{
    width: 25px !important;
}

.officeHour{
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;

    .day_time_list{
        display: flex;
        align-items: center;

        .time_holder{
            display: flex;
            flex-direction: column;
            padding: 5px;

            .from_to_time{
                display: flex;
                align-items: center;
    
                b{
                    margin: 0 0.5rem;
                }
            }

        }
    }
}
.date_time_holder{
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    width: fit-content;
    padding: 5px;

    .date{
        font-weight: 800;
        color: $dark-text-color;
    }

    .time_holder{
        display: flex;
        align-items: center;
        margin-left: 1rem;

        p{
            margin: 0 0.5rem;
        }
        .time{
            min-width: 56px;
        }
    }
}

.notes_holder{
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;

    .key{
        font-weight: 800;
        color: $dark-text-color;
        margin-right: 0.5rem;
        min-width: 70px;
    }  
    .notes{
        width: 250px;
        word-wrap: break-word;
    }  
}

.row{
    margin-bottom: 0.7rem;
    padding-left: 0.4rem;
}

.busi{
    padding-left: 0.4rem;
}