<div class="container">

    <div class="row mt-3 ">

        <!-- <div class="col-md-3 ml-auto">
            <button (click)="_adminService.isViewDetailRequest=!_adminService.isViewDetailRequest"
                class="btn btn-sm btn-dark font-12 font-weight-500 mr-2 float-right"><i class="fa fa-arrow-left"
                    aria-hidden="true"></i> Back</button>

        </div> -->

        <div class="col-md-12 mx-auto">
            <div class="row">
                <div class="col-md-4">
                    <h4>{{_adminService.viewRequestedInfo?.primaryKey}}
                    </h4>
                    <p>Contact Information Updated</p>

                </div>
                <div class="col ml-auto text-right">

                    <button (click)="_adminService.isViewDetailRequest=!_adminService.isViewDetailRequest"
                        class="btn btn-sm btn-dark back_btn"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Back</button>

                    <p *ngIf="_adminService.viewRequestedInfo?.siteContactPersonalInfo">
                        <span class="mr-5"><b>Requested By:
                            </b>{{_adminService.viewRequestedInfo?.siteContactPersonalInfo?.name}}</span>
                        <span class="ml-5"><b>Requested On:</b>
                            {{_adminService.viewRequestedInfo?.siteContactPersonalInfo?.updatedAt |
                            date:'short'}}</span>
                    </p>

                </div>
            </div>
        </div>


        <div class="col-md-12 mx-auto mt-2 mb-5">
            <div class="card tile_box_shaddow">
                <div class="card-body">
                    <div class="row p-3">
                        <div class="col col-md-6 pr-5">

                            <!-- *ngIf="_adminService.viewRequestedInfo?.logType == 2" -->
                            <ng-container #old_LocationInfo *ngIf="_adminService.viewRequestedInfo?.logType == 2">

                                <h4>Current Location Information</h4>
                                <p>Last Updated: XX/XX/XX</p>

                                <p class="py-3"><strong>Business Unit:</strong> <span class="ml-2">
                                        {{_adminService.viewRequestedInfo?.oldValues?.BusinessUnit?_adminService.viewRequestedInfo?.oldValues?.BusinessUnit:'-'}}
                                    </span>
                                </p>

                                <p
                                    class="mb-2 py-2 busi" [ngClass]="_adminService.viewRequestedInfo?.newValues.IsAdditionalBUUpdated ? 'bg_light_red' : ''">
                                    Do you have an additional business unit?
                                    <span>
                                        <strong>
                                            {{_adminService.viewRequestedInfo?.oldValues?.AdditionalBusinessUnits.length
                                            > 0 ?'Yes':'No'}}
                                        </strong>
                                    </span>
                                </p>

                                <hr>
                                <div
                                    [ngClass]="_adminService.viewRequestedInfo?.newValues.IsStreetUpdated ? 'row bg_light_red' : 'row'">
                                    <div class="col-md-4 address_text_bold">Street
                                        Address:
                                    </div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.oldValues?.Street?_adminService.viewRequestedInfo?.oldValues?.Street:'-'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 address_text_bold">City:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.oldValues?.City?_adminService.viewRequestedInfo?.oldValues?.City:'-'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 address_text_bold">State:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.oldValues?.State?_adminService.viewRequestedInfo?.oldValues?.State:'-'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 address_text_bold">Country:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.oldValues?.Country?_adminService.viewRequestedInfo?.oldValues?.Country:'-'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 address_text_bold">Zip:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.oldValues?.Zip?_adminService.viewRequestedInfo?.oldValues?.Zip:'-'}}
                                    </div>
                                </div>
                                <div
                                    [ngClass]="_adminService.viewRequestedInfo?.newValues.IsMainPhoneUpdated ? 'row bg_light_red' : 'row'">
                                    <div class="col-md-4 address_text_bold">Main Phone:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.oldValues?.MainPhone?_adminService.viewRequestedInfo?.oldValues?.MainPhone:'-'}}
                                    </div>
                                </div>
                                <div
                                    [ngClass]="_adminService.viewRequestedInfo?.newValues.IsAfterHoursPhoneUpdated ? 'row bg_light_red' : 'row'">
                                    <div class="col-md-4 address_text_bold">After Hours Phone:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.oldValues?.AfterHoursPhone?_adminService.viewRequestedInfo?.oldValues?.AfterHoursPhone:'-'}}
                                    </div>
                                </div>

                                <hr>

                                
                                <p class="mb-2 py-2">
                                    Is the Red pin valid?
                                    <span>
                                        <strong>
                                            {{_adminService.viewRequestedInfo?.oldValues?.IsRedPinValid ?'Yes':'No'}}
                                        </strong>
                                    </span>
                                </p>

                                <div class="row">
                                    <div class="col-md-4 address_text_bold">Latitude</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.oldValues?.Latitude?_adminService.viewRequestedInfo?.oldValues?.Latitude:'-'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 address_text_bold">Longitude</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.oldValues?.Longitude?_adminService.viewRequestedInfo?.oldValues?.Longitude:'-'}}
                                    </div>
                                </div>

                                <div class="row mt-4"
                                    *ngIf="_adminService.viewRequestedInfo?.oldValues?.Latitude && _adminService.viewRequestedInfo?.oldValues?.Longitude">
                                    <div class="col-md-10">

                                        <!-- <img src="../../../../../assets/images/map_location.png" class="location_map_image"> -->

                                        <agm-map class="location_map_image"
                                            [latitude]="_adminService.viewRequestedInfo?.oldValues?.Latitude"
                                            [longitude]="_adminService.viewRequestedInfo?.oldValues?.Longitude"
                                            [zoom]="_adminService.zoom">
                                            <agm-marker [latitude]="_adminService.lat" [longitude]="_adminService.lng">
                                            </agm-marker>
                                        </agm-map>

                                    </div>
                                </div>

                            </ng-container>

                            <ng-container #old_office_hours>
                                <div class="old_office_hours mt-3"
                                    *ngIf="_adminService.viewRequestedInfo?.logType == 3">
                                    <h4>Current OfficeHours Information</h4>
                                    <div class="officeHour"
                                        *ngFor="let officeHour of _adminService.viewRequestedInfo?.oldValues; let i = index">
                                        <div class="day_time_list">
                                            <div *ngIf="days[officeHour.DayOfWeek] == 'Thursday' || days[officeHour.dayOfWeek] == 'Sunday'"
                                                class="day_name">
                                                {{days[officeHour.DayOfWeek].slice(0,2)}}
                                            </div>
                                            <div *ngIf="days[officeHour.DayOfWeek] != 'Thursday' && days[officeHour.dayOfWeek] != 'Sunday'"
                                                class="day_name">
                                                {{days[officeHour.DayOfWeek][0]}}
                                            </div>

                                            <div *ngIf="officeHour.IsOpen" class="time_holder" [ngClass]="_adminService.viewRequestedInfo?.newValues[i].IsUpdated ? 'bg_light_red' : ''">

                                                <p class="from_to_time" *ngFor="let hour of officeHour.OfficeHours">
                                                    {{hour.StartTime}}
                                                    <b>to</b>
                                                    {{hour.StopTime}}
                                                </p>
                                            </div>
                                            <p *ngIf="!officeHour.IsOpen">
                                                Closed
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container #old_maintenanceHours>

                                <div class="old_maintenanceHours mt-3"
                                    *ngIf="_adminService.viewRequestedInfo?.logType == 4">
                                    <h4>Current Maintenance Hours Information</h4>
                                    <ng-container
                                        *ngIf="!_adminService.viewRequestedInfo?.oldValues?.IsMaintenanceHourAvailable">
                                        <div class="notes_holder">
                                            <p class="key">Notes :</p>
                                            <p class="notes">{{_adminService.viewRequestedInfo?.oldValues?.Notes ? _adminService.viewRequestedInfo?.oldValues?.Notes : '-'}}</p>
                                        </div>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="_adminService.viewRequestedInfo?.oldValues?.IsMaintenanceHourAvailable && !_adminService.viewRequestedInfo?.oldValues?.IsRecurringMaintenance">
                                        <p>Non-Recurring maintenance hours</p>
                                        <div
                                            *ngFor="let item of _adminService.viewRequestedInfo?.oldValues.dailyMaintenances; let i = index;">
                                            <div class="date_time_holder" [ngClass]="_adminService.viewRequestedInfo?.newValues.dailyMaintenances[i].IsUpdated ? 'bg_light_red' : ''">
                                                <p class="date">Date : {{item.Date ? item.Date : '-'}}</p>
                                                <div class="time_holder">
                                                    <p class="time">{{item.StartTime}}</p>
                                                    <p class="font-weight-bold">to</p>
                                                    <p class="time">{{item.EndTime}} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <!-- for recurring month -->
                                    <ng-container
                                        *ngIf="_adminService.viewRequestedInfo?.oldValues?.IsMaintenanceHourAvailable && _adminService.viewRequestedInfo?.oldValues?.IsRecurringMaintenance && _adminService.viewRequestedInfo?.oldValues.RepeatEvery == 1">
                                        <p>Recurring maintenance hours</p>
                                        <p>
                                            <span class="font-weight-bold">Repeat every:</span> Month
                                        </p>
                                        <p>
                                            <span class="font-weight-bold">Start date:</span>
                                            {{_adminService.viewRequestedInfo?.oldValues.StartDate ?
                                            _adminService.viewRequestedInfo?.oldValues.StartDate : '-'}}
                                        </p>
                                        <p>
                                            <span class="font-weight-bold">On day:</span>
                                            {{_adminService.viewRequestedInfo?.oldValues.RepetitiveDay ?
                                            _adminService.viewRequestedInfo?.oldValues.RepetitiveDay : '-'}}
                                        </p>

                                    </ng-container>

                                    <!-- for recurring week -->
                                    <ng-container
                                        *ngIf="_adminService.viewRequestedInfo?.oldValues?.IsMaintenanceHourAvailable && _adminService.viewRequestedInfo?.oldValues?.IsRecurringMaintenance && _adminService.viewRequestedInfo?.oldValues.RepeatEvery == 2">
                                        <p>Recurring maintenance hours</p>
                                        <p>
                                            <span class="font-weight-bold">Repeat every:</span> Week
                                        </p>
                                        <p>
                                            <span class="font-weight-bold">Start date:</span>
                                            {{_adminService.viewRequestedInfo?.oldValues.StartDate ?
                                            _adminService.viewRequestedInfo?.oldValues.StartDate : '-'}}
                                        </p>
                                        <div
                                            *ngFor="let item of _adminService.viewRequestedInfo?.oldValues?.dailyMaintenances">
                                            <div class="date_time_holder">
                                                <p class="date">Date : {{item.Date ? item.Date : '-'}}</p>
                                                <div class="time_holder">
                                                    <p class="time">{{item.StartTime}}</p>
                                                    <p>to</p>
                                                    <p class="time">{{item.EndTime}} </p>
                                                </div>
                                            </div>
                                        </div>

                                    </ng-container>

                                </div>
                            </ng-container>





                        </div>


                        <div class="col col-md-6 left_border_2px pl-5">

                            <ng-container #new_LocationInfo *ngIf="_adminService.viewRequestedInfo?.logType == 2">
                                <h4>Updated Location Information</h4>
                                <p>Status: <span> <button type="button"
                                            class="btn btn-sm btn_pending_blue">Pending</button></span> </p>

                                <p class="py-3"><strong>Business Unit:</strong> <span class="ml-2">
                                        {{_adminService.viewRequestedInfo?.newValues?.BusinessUnit?_adminService.viewRequestedInfo?.newValues?.BusinessUnit:'-'}}
                                    </span>
                                </p>

                                <p class="mb-2 busi"
                                    [ngClass]="_adminService.viewRequestedInfo?.newValues.IsAdditionalBUUpdated ? 'py-2 bg_light_green' : 'py-2'">
                                    Do you have an additional business unit?
                                    <span>
                                        <strong>
                                            {{_adminService.viewRequestedInfo?.newValues?.AdditionalBusinessUnits.length > 0 ?'Yes':'No'}}
                                        </strong>
                                    </span>
                                </p>

                                <hr>

                                <div
                                    [ngClass]="_adminService.viewRequestedInfo?.newValues.IsStreetUpdated ? 'row bg_light_green' : 'row'">
                                    <div class="col-md-4 address_text_bold">Street
                                        Address:
                                    </div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.newValues?.Street?_adminService.viewRequestedInfo?.newValues?.Street:'-'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 address_text_bold">City:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.newValues?.City?_adminService.viewRequestedInfo?.newValues?.City:'-'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 address_text_bold">State:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.newValues?.State?_adminService.viewRequestedInfo?.newValues?.State:'-'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 address_text_bold">Country:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.newValues?.Country?_adminService.viewRequestedInfo?.newValues?.Country:'-'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 address_text_bold">Zip:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.newValues?.Zip?_adminService.viewRequestedInfo?.newValues?.Zip:'-'}}
                                    </div>
                                </div>
                                <div
                                    [ngClass]="_adminService.viewRequestedInfo?.newValues.IsMainPhoneUpdated ? 'row bg_light_green' : 'row'">
                                    <div class="col-md-4 address_text_bold">Main Phone:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.newValues?.MainPhone?_adminService.viewRequestedInfo?.newValues?.MainPhone:'-'}}
                                    </div>
                                </div>
                                <div
                                    [ngClass]="_adminService.viewRequestedInfo?.newValues.IsAfterHoursPhoneUpdated ? 'row bg_light_green' : 'row'">
                                    <div class="col-md-4 address_text_bold">After Hours Phone:</div>
                                    <div class="col-md-6 address_text_16">
                                        {{_adminService.viewRequestedInfo?.newValues?.AfterHoursPhone?_adminService.viewRequestedInfo?.newValues?.AfterHoursPhone:'-'}}
                                    </div>
                                </div>

                                <hr>

                                <p class="mb-2 py-2">
                                    Is the Red pin valid?
                                    <span>
                                        <strong>
                                            {{_adminService.viewRequestedInfo?.newValues?.IsRedPinValid ?'Yes':'No'}}
                                        </strong>
                                    </span>
                                </p>


                                <div class="row" *ngIf="!_adminService.viewRequestedInfo?.newValues?.IsRedPinValid">
                                    <div class="col-md-4 address_text_bold">Latitude</div>
                                    <div class="col-md-6 address_text_16">
                                        <!-- {{_adminService.lat?_adminService.lat:'-'}} -->

                                        <ng-container
                                            *ngIf="(_adminService.viewRequestedInfo?.newValues?.Latitude); else elseTemplate">
                                            <input type="text" name="latitude" class="form-control custom_input"
                                                [(ngModel)]="_adminService.viewRequestedInfo.newValues.Latitude">
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            -
                                        </ng-template>



                                    </div>
                                </div>
                                <div class="row mt-2" *ngIf="!_adminService.viewRequestedInfo?.newValues?.IsRedPinValid">
                                    <div class="col-md-4 address_text_bold">Longitude</div>

                                    <div class="col-md-6 address_text_16">
                                        <ng-container
                                            *ngIf="(_adminService.viewRequestedInfo?.newValues?.Longitude); else elseTemplate">
                                            <input type="text" name="Longitude" class="form-control custom_input"
                                                [(ngModel)]="_adminService.viewRequestedInfo.newValues.Longitude">
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            -
                                        </ng-template>

                                    </div>



                                </div>

                                <div class="row mt-4" *ngIf="false">
                                    <div class="col-md-10">

                                        <!-- <img src="../../../../../assets/images/map_location.png" class="location_map_image"> -->


                                        <agm-map class="location_map_image" [latitude]="_adminService.lat"
                                            [longitude]="_adminService.lng" [zoom]="_adminService.zoom">
                                            <agm-marker [latitude]="_adminService.lat" [longitude]="_adminService.lng">
                                            </agm-marker>
                                        </agm-map>

                                    </div>
                                </div>
                            </ng-container>

                            <ng-container #new_office_hours>
                                <div class="new_office_hours mt-3"
                                    *ngIf="_adminService.viewRequestedInfo?.logType == 3">
                                    <h4>Updated OfficeHours Information</h4>
                                    <div class="officeHour"
                                        *ngFor="let officeHour of _adminService.viewRequestedInfo?.newValues">
                                        <div class="day_time_list">
                                            <div *ngIf="days[officeHour.DayOfWeek] == 'Thursday' || days[officeHour.dayOfWeek] == 'Sunday'"
                                                class="day_name">
                                                {{days[officeHour.DayOfWeek].slice(0,2)}}
                                            </div>
                                            <div *ngIf="days[officeHour.DayOfWeek] != 'Thursday' && days[officeHour.dayOfWeek] != 'Sunday'"
                                                class="day_name">
                                                {{days[officeHour.DayOfWeek][0]}}
                                            </div>

                                            <div *ngIf="officeHour.IsOpen" class="time_holder" [ngClass]="officeHour.IsUpdated ? 'bg_light_green' : ''">

                                                <p class="from_to_time" *ngFor="let hour of officeHour.OfficeHours">
                                                    {{hour.StartTime}}
                                                    <b>to</b>
                                                    {{hour.StopTime}}
                                                </p>
                                            </div>
                                            <p *ngIf="!officeHour.IsOpen">
                                                Closed
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container #new_maintenanceHours>

                                <div class="new_maintenanceHours mt-3"
                                    *ngIf="_adminService.viewRequestedInfo?.logType == 4">
                                    <h4>Updated Maintenance Hours Information</h4>
                                    <ng-container
                                        *ngIf="!_adminService.viewRequestedInfo?.newValues.IsMaintenanceHourAvailable">
                                        <div class="notes_holder">
                                            <p class="key">Notes :</p>
                                            <p class="notes">{{_adminService.viewRequestedInfo?.newValues.Notes}}</p>
                                        </div>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="_adminService.viewRequestedInfo?.newValues.IsMaintenanceHourAvailable && !_adminService.viewRequestedInfo?.newValues.IsRecurringMaintenance">
                                        <p>Non-Recurring maintenance hours</p>
                                        <div
                                            *ngFor="let item of _adminService.viewRequestedInfo?.newValues.dailyMaintenances">
                                            <div class="date_time_holder" [ngClass]="item.IsUpdated ? 'bg_light_green' : ''">
                                                <p class="date">Date : {{item.Date ? item.Date : '-'}}</p>
                                                <div class="time_holder">
                                                    <p class="time">{{item.StartTime}}</p>
                                                    <p class="font-weight-bold">to</p>
                                                    <p class="time">{{item.EndTime}} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <!-- for recurring month -->
                                    <ng-container
                                        *ngIf="_adminService.viewRequestedInfo?.newValues.IsMaintenanceHourAvailable && _adminService.viewRequestedInfo?.newValues.IsRecurringMaintenance && _adminService.viewRequestedInfo?.newValues.RepeatEvery == 1">
                                        <p>Recurring maintenance hours</p>
                                        <p>
                                            <span class="font-weight-bold">Repeat every:</span> Month
                                        </p>
                                        <p>
                                            <span class="font-weight-bold">Start date:</span>
                                            {{_adminService.viewRequestedInfo?.newValues.StartDate ?
                                            _adminService.viewRequestedInfo?.newValues.StartDate : '-'}}
                                        </p>
                                        <p>
                                            <span class="font-weight-bold">On day:</span>
                                            {{_adminService.viewRequestedInfo?.newValues.RepetitiveDay ?
                                            _adminService.viewRequestedInfo?.newValues.RepetitiveDay : '-'}}
                                        </p>
                                        <!-- <p>
                                        <span class="font-weight-bold">Maintenance Window:</span>
                                        {{_adminService.viewRequestedInfo?.newValues.StartTime}} <b>to</b>
                                        {{_adminService.viewRequestedInfo?.newValues.EndTime}}
                                    </p> -->
                                    </ng-container>

                                    <!-- for recurring week -->
                                    <ng-container
                                        *ngIf="_adminService.viewRequestedInfo?.newValues.IsMaintenanceHourAvailable && _adminService.viewRequestedInfo?.newValues.IsRecurringMaintenance && _adminService.viewRequestedInfo?.newValues.RepeatEvery == 2">
                                        <p>Recurring maintenance hours</p>
                                        <p>
                                            <span class="font-weight-bold">Repeat every:</span> Week
                                        </p>
                                        <p>
                                            <span class="font-weight-bold">Start date:</span>
                                            {{_adminService.viewRequestedInfo?.newValues.StartDate ?
                                            _adminService.viewRequestedInfo?.newValues.StartDate : '-'}}
                                        </p>
                                        <div
                                            *ngFor="let item of _adminService.viewRequestedInfo?.newValues.dailyMaintenances">
                                            <div class="date_time_holder">
                                                <p class="date">Date : {{item.Date ? item.Date : '-'}}</p>
                                                <div class="time_holder">
                                                    <p class="time">{{item.StartTime}}</p>
                                                    <p>to</p>
                                                    <p class="time">{{item.EndTime}} </p>
                                                </div>
                                            </div>
                                        </div>

                                    </ng-container>

                                </div>
                            </ng-container>







                            <div class="row px-2" *ngIf="!_adminService.approved">

                                <div class="col-12 mt-4 px-0" *ngIf="true">
                                    <button type="button"
                                        class="btn btn-sm btn-outline-danger float-left font-weight-500 font-12 btn_width"
                                        (click)="deny(_adminService.viewRequestedInfo?.logType, _adminService.viewRequestedInfo?.logsId)">DENY</button>
                                    <button type="button"
                                        class="btn btn-sm btn-danger float-left ml-4 font-weight-500 font-12 btn_width"
                                        (click)="approve(_adminService.viewRequestedInfo?.logType, _adminService.viewRequestedInfo?.logsId)">APPROVE</button>

                                </div>
                            </div>

                            <div class="row px-2" *ngIf="_adminService.approved">
                                <div class="col-12 mt-4 px-0" *ngIf="true">

                                    <p class="text-red font-weight-bold">
                                        <img src="assets/images/approved.png" class="approved_icon float-left">
                                        <span class="pl-2">{{_adminService.approvalMessage}}</span>
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- <pre>
                {{_adminService.viewRequestedInfo | json}}
            </pre> -->

        </div>
    </div>

    <ng-container *ngIf="_adminService.spinner">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
            [fullScreen]="true">
        </ngx-spinner>
    </ng-container>