<header class="dashboard_header">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md fixed-top bg-red py-0">
    <div class="container">
      <a class="navbar-brand nav_head" routerLink="/admin">
        <img src="assets/images/logo_white.png" class="logo_white">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto mb-2 mb-md-0">
          <li class="nav-item" (click)="clearAppliedFilter()">
            <a class="nav-link " aria-current="page" routerLink="/admin/dashboard"
              [routerLinkActive]="['active']">Dashboard</a>
          </li>
          <li class="nav-item" (click)="clearAppliedFilter()">
            <a class="nav-link" routerLink="/admin/locations" [routerLinkActive]="['active']">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-grey">|</a>
          </li>
          <li class="nav-item pt-1">
            <div class="dropdown profile_dropdown">
              <a routerLink="/admin" class="d-block link-white text-decoration-none dropdown-toggle" id="dropdownUser2"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/images/avator.png" width="32" height="32" class="rounded-circle">
                Santhosh
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" routerLink="/admin">Profile</a></li>
                <li><a class="dropdown-item" routerLink="/admin/setting">Settings</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/admin">Sign out</a></li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>