<ng-container *ngIf="_adminService.isViewLocationDetails; else elseTemplate">

    <app-view-location></app-view-location>

</ng-container>


<ng-template #elseTemplate>

    <div class="container">

        <div class="row mt-3">

            <div class="col-md-12 mx-auto">
                <div class="row">
                    <div class="col-md-4  pt-2">
                        <h4>Locations</h4>
                        <div class="row">
                            <div class="col-10">
                                <p class="float-left">Showing <b>{{_adminService.allLocationData?.rowCount?_adminService.allLocationData?.rowCount:0}}</b>  locations</p>

                                <button type="button"
                                    class="btn btn-sm btn-outline-danger font-weight-500 font-12 ml-4">RECERTIFY ALL
                                    LOCATIONS</button>

                            </div>

                        </div>
                    </div>


                    <div class="col pt-3 " *ngIf="_adminService.selectedFilterItems_Location?.length>0">
                        <p class="pt-3">
                            <!-- <b class="mr-1">Applied Filters:</b>
                            <br> -->
                            <ng-container *ngFor="let item of _adminService.applied_Filters_Location; let i=index;">
                                <span class="badge badge-pill badge-dark mr-1 left_selected_badge">{{item.lable}}
                                    <i (click)="removeFilters(i)" class="fas fa-times"></i>
                                </span>
                            </ng-container>
                        </p>
                    </div>



                    <div class="col-md-3 ml-auto">
                        <small>Location Code Search</small>

                        <ng-select [items]="_adminService.dropdownData_Location" [multiple]="true" bindLabel="lable"
                            [closeOnSelect]="false" bindValue="value" (change)="selectFilters($event)"
                            [searchable]="false"
                            [(ngModel)]="_adminService.selectedFilterItems_Location">

                            <!-- (close)="blurChange()" -->

                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">

                                <div class="ng-value form_span_badge float-right" *ngIf="items.length>0">
                                    <span class="ng-value-label">
                                        {{items.length }} Selected...
                                    </span>
                                </div>

                            </ng-template>


                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                {{item.lable}}

                                <div class="form-check  float-right ">
                                    <input type="checkbox" class="form-check-input" id="item-{{index}}"
                                        [ngModel]="item$.selected">
                                    <label class="form-check-label" for="item-{{index}}"></label>
                                </div>

                            </ng-template>


                            <ng-template ng-footer-tmp>
                                <div class="create-new">
                                    <input type="text" class="form-control"
                                        [(ngModel)]="_adminService.searchLocationCode"
                                        placeholder="Type and Enter..." maxlength="3" (keyup.enter)="blurChange()" (keydown)="$event.stopPropagation()">
                                </div>

                            </ng-template>


                        </ng-select>



                    </div>
                </div>
            </div>

            <div class="col-md-12 mx-auto mt-2">
                <div class="card tile_box_shaddow">
                    <div class="card-body pt-1">
                        <div class="table-responsive">
                            <table class="table table_border_0px">
                                <thead *ngIf="_adminService.allLocationData?.results?.length>0">
                                    <tr>
                                        <th>Location Code</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Street</th>
                                        <th>Business Unit</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                  


                                    <ng-container *ngIf="_adminService.allLocationData?.results?.length>0">

                                        <tr
                                        *ngFor="let row of _adminService.allLocationData?.results  | paginate: { itemsPerPage:_adminService.paginations.location.itemsPerPage,currentPage: _adminService.paginations.location.currentPage, totalItems: _adminService.allLocationData?.rowCount }">
                                        <td>{{row.siteId}}</td>
                                        <td>{{row.city}}</td>
                                        <td>{{row.state}}</td>
                                        <td>{{row.street}}</td>
                                        <td>{{row.businessUnit}}</td>
                                        <td>
                                            <span class="btn_pending_blue">{{siteStatus[row.status]}}</span>
                                        </td>
                                        <td>
                                            <button (click)="viewDetails(row.siteId)" type="button"
                                                class="btn btn-sm btn-outline-danger font-weight-500">View
                                                Details</button>
                                        </td>
                                    </tr>
                                    </ng-container>



                                    <ng-container *ngIf="_adminService.allLocationData?.results?.length==0">

                                        <tr>
                                            <td class="text-center font-weight-500 no_records" colspan="7">No Records Found!</td>
                                        </tr>
                                    </ng-container>



                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>

            </div>

            <div class="col-12 mt-3 " *ngIf="_adminService.allLocationData?.results?.length>0">
                <nav aria-label="Page navigation example">

                    <div ul class="pagination justify-content-center">
                        <pagination-controls
                            (pageChange)="changePagination((_adminService.paginations.location.currentPage = $event))"
                            previousLabel="" nextLabel="">
                        </pagination-controls>
                    </div>


                </nav>
            </div>
        </div>

    </div>
    <ng-container *ngIf="_adminService.spinner">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
            [fullScreen]="true">
        </ngx-spinner>
    </ng-container>




</ng-template>







<!-- Modal -->
<div class="modal fade" id="ViewLocationDetails" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

            <ng-container>
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Location Name
                        <p>Last updated: XX/XX/XX
                            <span class="ml-2 text-red font-weight-bold font-12">View log</span>
                        </p>
                    </h4>

                    <button type="button" class="close_btn" data-bs-dismiss="modal">
                        <img src="assets/images/close.png" alt="">
                    </button>
                </div>
                <div class="modal-body">

                    <app-view-location></app-view-location>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-danger font-12 font-weight-500 btn_width_90"
                        data-bs-dismiss="modal">CANCEL</button>
                    <button type="button"
                        class="btn btn-sm btn-danger font-12  font-weight-500 btn_width_90">SENT</button>
                </div>
            </ng-container>




        </div>
    </div>
</div>