@import '../../../../../styles/variables';
@import '../../../../../assets/css/custom_form_styles.scss';


th {
    border-bottom: 2px solid #a4a1a1 !important;
}

.create-new {
    cursor: pointer;
    padding-top:5px;
    padding-bottom:10px
 }
 .ng-dropdown-footer{
     border-top:unset !important;
     padding: 0px 10px !important;
 }
 .ng-dropdown-footer:hover {
    background-color: #f5faff;
 }


 

.left_selected_badge{
    display: inline-block;
    padding: 0.25em 0.65em !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.form_span_badge{
    display: inline-block;
    line-height: 1;
    color: #fff;
    text-align: center;
    vertical-align: baseline;
    border-radius: 0.25rem !important;
}

.no_records{
    font-weight: 500 !important;
    color: $red-bg;
    text-transform: uppercase;
}


// .ng-value.form_span_badge {
//     display: none !important;
// }