<div class="container" *ngIf="_adminService.siteDetails?.siteId">

    <div class="row mt-3 ">

        <div class="col-md-12 mx-auto pb-3">
            <div class="row">
                <div class="col-md-4">
                    <h4>{{_adminService.siteDetails?.siteId}}
                        <span>

                        </span>
                    </h4>
                    <p>Last updated: XX/XX/XX
                        <span class="ml-2 text-red font-weight-bold font-12">View log</span>
                    </p>

                </div>
                <div class="col-md-5 ml-auto text-right pt-3">

                    <button (click)="back()"
                        class="btn btn-sm btn-dark font-12 font-weight-500 mr-2"><i class="fa fa-arrow-left"
                            aria-hidden="true"></i> BACK</button>

                    <button type="button"
                        class="btn btn-sm btn-outline-danger font-12 font-weight-500" data-bs-toggle="modal" data-bs-target="#RecertificationModal" (click)="openRecertifyAllDialog()">RECERTIFICATION</button>
                </div>
            </div>
        </div>

       
        <hr>

        <div class="row mt-2 mb-5 px-0">

            <div class="col-3">
                <div class="col-md-12 mx-auto mt-2">
                    <h5>Address</h5>
                    <p>{{_adminService.siteDetails?.businessUnit}}</p>
                    <p>{{_adminService.siteDetails?.street}}</p>
                    <p> {{_adminService.siteDetails?.city}}, {{_adminService.siteDetails?.state}}
                        {{_adminService.siteDetails?.zip}}</p>

                </div>

                <div class="col-md-12 mx-auto mt-5">
                    <h5>Phone(s)</h5>
                    <p class="font-weight-bold">Main Phone: </p>
                    <p>{{_adminService.siteDetails?.mainPhone}}</p>

                    <p class="font-weight-bold">After Hours Phone: </p>
                    <p>{{_adminService.siteDetails?.afterHoursPhone.length > 0 ?
                        _adminService.siteDetails?.afterHoursPhone : '-' }}</p>
                </div>



                <div class="col-md-12 mx-auto mt-5">
                    <h5>Location Map</h5>

                    <!-- <img src="../../../../../assets/images/map_location.png" class="location_map_image"> -->
                    <p><span class="font-weight-bold">Latitude: </span> {{_adminService.siteDetails?.latitude}}</p>
                    <p><span class="font-weight-bold">Longitude: </span> {{_adminService.siteDetails?.longitude}}</p>

                    <agm-map class="location_map_image" [latitude]="_adminService.lat" [longitude]="_adminService.lng"
                        [zoom]="_adminService.zoom">
                        <agm-marker [latitude]="_adminService.lat" [longitude]="_adminService.lng">
                        </agm-marker>
                    </agm-map>


                </div>

            </div>

            <div class="col px-0">

                <h4>Site Contacts</h4>

                <ng-container *ngIf="_adminService.siteDetails?.siteContacts.length == 0">
                    <div class="col-md-12 mx-auto mt-3 px-0 no_site_contact tile_box_shaddow">
                        <div>
                            <h5>No Site Contact added to the Location</h5>
                        </div>
                    </div>
                </ng-container>
                

                <ng-container *ngFor="let item of _adminService.siteDetails?.siteContacts; let i=index;">
                    <div class="col-md-12 mx-auto mt-3 px-0 ">

                        <div class="card tile_box_shaddow">
                            <div class="card-body">

                                <div class="col-12 px-0 border-bottom pb-3 ">
                                    <h5 class="card-title">{{item.name}}</h5>
                                    <p class="card-text">
                                        <span class="font-weight-bold">Nick Name: </span>{{item.nickName ? item.nickName
                                        :
                                        '-'}}
                                        <!-- <span class="float-right">Date updated: XX/XX/XX</span> -->
                                    </p>
                                </div>

                                <div class="row  px-0 pt-3">

                                    <div class="col-md-4">
                                        <p class="card-text">
                                            <span class="font-weight-bold"> Email: </span>
                                            <span>{{item.email}}</span>
                                        </p>

                                        <p class="card-text">
                                            <span class="font-weight-bold"> Work Phone: </span>
                                            <span>{{item.phone}}</span>
                                        </p>
                                        <p class="card-text">
                                            <span class="font-weight-bold"> Other Informations: </span><br>
                                            <span
                                                *ngIf="item.otherPhoneNummbers.length == 0 || !item.otherPhoneNummbers">-</span>
                                            <span *ngFor="let op of item.otherPhoneNummbers">{{op}}<br></span>
                                        </p>


                                    </div>


                                    <div class="col-md-4">
                                        <p class="card-text">
                                            <span class="font-weight-bold"> Emergency Contact: </span>
                                        </p>

                                        <p class="card-text">
                                            <span>{{item.emergencyContacts ? item.emergencyContacts : '-'}}</span>
                                        </p>


                                    </div>

                                    <div class="col-md-4">
                                        <p class="card-text ques" *ngFor="let ques of item.additionalQuestionAnswers">
                                            <span class="font-weight-bold">
                                                <i class="fa fa-check red-icon tile_icon_red"></i>
                                            </span>
                                            <span class="font-weight-bold">
                                                {{ques.questionText}}
                                            </span>
                                        </p>

                                    </div>


                                </div>


                                <div class="row">
                                    <div class="col-md-5 ml-auto text-right">
                                        <button type="button" (click)="openDialog(item.siteAndSiteContactMappingId)"
                                            data-bs-toggle="modal" data-bs-target="#RecertificationModal"
                                            class="btn btn-sm btn-danger font-12 mt-4">REQUEST
                                            RECERTIFICATION</button>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </ng-container>

                <!-- <pre>
                    {{_adminService.siteDetails | json}}
                </pre> -->
            </div>

            <div class="col-3 right_end">

                <h5>Office Hours</h5>

                <ng-container *ngIf="_adminService.siteDetails?.groupedOfficeHours">
                    <div class="officeHour" *ngFor="let officeHour of _adminService.siteDetails?.groupedOfficeHours">

                        <div class="day_time_list">
                            <div *ngIf="days[officeHour.dayOfWeek] == 'Thursday' || days[officeHour.dayOfWeek] == 'Sunday'"
                                class="day_name" [ngClass]="officeHour.isOpen ? '' : 'closed'">
                                {{days[officeHour.dayOfWeek].slice(0,2)}}
                            </div>
                            <div *ngIf="days[officeHour.dayOfWeek] != 'Thursday' && days[officeHour.dayOfWeek] != 'Sunday'"
                                class="day_name" [ngClass]="officeHour.isOpen ? '' : 'closed'">
                                {{days[officeHour.dayOfWeek][0]}}
                            </div>

                            <div *ngIf="officeHour.isOpen" class="time_holder">

                                <p class="from_to_time" *ngFor="let hour of officeHour.officeHours">{{hour.startTime}}
                                    <b>to</b>
                                    {{hour.stopTime}}
                                </p>
                            </div>
                            <p *ngIf="!officeHour.isOpen">
                                Closed
                            </p>
                        </div>

                    </div>
                </ng-container>

                <div class="col-md-12 mx-auto mt-5" *ngIf="_adminService.siteDetails?.maintenanceHourDetails">
                    <h5>Maintenance hours</h5>
                    <ng-container *ngIf="!_adminService.siteDetails?.maintenanceHourDetails?.isMaintenanceHourAvailable">
                        <div class="notes_holder">
                            <p class="key">Notes :</p>
                            <p class="notes">{{_adminService.siteDetails?.maintenanceHourDetails.notes}}</p>
                        </div>
                    </ng-container>


                    <ng-container
                        *ngIf="_adminService.siteDetails?.maintenanceHourDetails?.isRecurringMaintenance && _adminService.siteDetails?.maintenanceHourDetails?.repeatEvery == 1">
                        <p>Recurring maintenance hours</p>
                        <p>
                            <span class="font-weight-bold">Repeat every:</span> Month
                        </p>
                        <p>
                            <span class="font-weight-bold">Start date:</span>
                            {{_adminService.siteDetails?.maintenanceHourDetails.startDate}}
                        </p>
                        <p>
                            <span class="font-weight-bold">On day:</span>
                            {{_adminService.siteDetails?.maintenanceHourDetails.repetitiveDay}}
                        </p>
                        <p>
                            <span class="font-weight-bold">Maintenance Window:</span>
                            {{_adminService.siteDetails?.maintenanceHourDetails.startTime}} <b>to</b>
                            {{_adminService.siteDetails?.maintenanceHourDetails.endTime}}
                        </p>
                    </ng-container>

                    <ng-container
                        *ngIf="_adminService.siteDetails?.maintenanceHourDetails?.isRecurringMaintenance && _adminService.siteDetails?.maintenanceHourDetails?.repeatEvery == 2">
                        <p>Recurring maintenance hours</p>
                        <p>
                            <span class="font-weight-bold">Repeat every:</span> Week
                        </p>
                        <p>
                            <span class="font-weight-bold">Start date:</span>
                            {{_adminService.siteDetails?.maintenanceHourDetails.startDate}}
                        </p>
                        <div *ngFor="let item of _adminService.siteDetails?.maintenanceHourDetails?.dailyMaintenances">
                            <div class="date_time_holder">
                                <p class="date">Date : {{item.date ? item.date : '-'}}</p>
                                <div class="time_holder">
                                    <p class="time">{{item.startTime}}</p>
                                    <p>to</p>
                                    <p class="time">{{item.endTime}} </p>
                                </div>
                            </div>
                        </div>

                    </ng-container>
                    <ng-container
                        *ngIf="!_adminService.siteDetails?.maintenanceHourDetails?.isRecurringMaintenance && _adminService.siteDetails?.maintenanceHourDetails?.isMaintenanceHourAvailable">
                        <p>Non-Recurring maintenance hours</p>
                        <div *ngFor="let item of _adminService.siteDetails?.maintenanceHourDetails?.dailyMaintenances">
                            <div class="date_time_holder">
                                <p class="date">Date : {{item.date ? item.date : '-'}}</p>
                                <div class="time_holder">
                                    <p class="time">{{item.startTime}}</p>
                                    <p>to</p>
                                    <p class="time">{{item.endTime}} </p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>


            </div>


        </div>



    </div>

</div>
<ng-container *ngIf="_adminService.spinner">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
        [fullScreen]="true">
    </ngx-spinner>
</ng-container>




<!-- Modal -->
<div class="modal fade" id="RecertificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <ng-container *ngIf="!isSent">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Recertification</h4>
                    <button type="button" class="close_btn" data-bs-dismiss="modal" (click)="resetPayLoad()">
                        <img src="assets/images/close.png" alt="">
                    </button>
                </div>
                <div class="modal-body">

                    <ng-container>

                        <div class="row">
                            <div class="col-md-12 d-flex">

                                <div class="col">
                                    <p>Contact Information Recertifications</p>
                                </div>
                                <div class="col-2">
                                    <div class="form-check  float-right ">
                                        <input type="radio" [formControl]="certificationRadio" value="contact"
                                            class="form-check-input" id="item1">
                                        <label class="form-check-label" for="item1"></label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 d-flex">

                                <div class="col">
                                    <p>Location Information Recertifications</p>
                                </div>
                                <div class="col-2">
                                    <div class="form-check  float-right ">
                                        <input type="radio" [formControl]="certificationRadio" value="location"
                                            class="form-check-input" id="item2">
                                        <label class="form-check-label" for="item2"></label>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 d-flex">

                                <div class="col">
                                    <p>Both</p>
                                </div>
                                <div class="col-2">
                                    <div class="form-check  float-right ">
                                        <input type="radio" [formControl]="certificationRadio" value="both"
                                            class="form-check-input" id="item3">
                                        <label class="form-check-label" for="item3"></label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-container>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-danger font-12 font-weight-500 btn_width_90"
                        data-bs-dismiss="modal" (click)="resetPayLoad()">CANCEL</button>
                    <button type="button" (click)="sendRecertification()"
                        class="btn btn-sm btn-danger font-12  font-weight-500 btn_width_90">SENT</button>
                </div>
            </ng-container>

            <ng-container *ngIf="_adminService.certificationStatus">
                <div class="modal-body">

                    <button type="button" class="close_btn float-right" data-bs-dismiss="modal"
                        (click)="resetPayLoad();">
                        <img src="assets/images/close.png" alt="">
                    </button>


                    <ng-container>
                        <div class="row  py-5">

                            <div class="col-12 mt-4 px-0 py-5">
                                <div class="position-relative">
                                    <div class="position-absolute top-0 start-50 translate-middle">
                                        <img src="assets/images/checkicon.svg">
                                    </div>
                                </div>


                            </div>

                            <div class="col-12 text-center mt-5">
                                <p>
                                    {{_adminService.CertificationStatusMessage}}
                                </p>
                                <!-- Your recertification request were sent -->

                            </div>
                        </div>
                    </ng-container>





                </div>
            </ng-container>



        </div>
    </div>
</div>