@import '../../../../../styles/variables';
@import '../../../../../assets/css/custom_form_styles.scss';


.location_map_image {
    width: 270px;
    height: 250px;
}

.address_text_bold {
    font-weight: 600;
    font-size: 16px;
}

.address_text_16 {
    font-size: 16px;

}

.left_border_2px {
    border-left: 2px solid rgb(161, 159, 159);
}

.approve_button {
    color: white;
    background-color: $red-bg;
}


p.card-text {
    font-size: 12px;
}

.right_end{
    margin-left: 0.8rem;
}

.ques{
    display: flex;
    .red-icon{
        color: $red-bg !important;
    }
}

.form-check-input:checked{
    background-color: $dark-navy !important;
    border: $dark-navy !important;
}
.form-check{
    input{
        cursor: pointer;
    }
}
.form-check-input:focus{
    box-shadow: none !important;
}

.officeHour{
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;

    .day_time_list{
        display: flex;
        align-items: center;

        .time_holder{
            display: flex;
            flex-direction: column;

            .from_to_time{
                display: flex;
                align-items: center;
    
                b{
                    margin: 0 0.5rem;
                }
            }

        }
    }
}
.notes_holder{
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;

    .key{
        font-weight: 800;
        color: $dark-text-color;
        margin-right: 0.5rem;
        min-width: 70px;
    }  
    .notes{
        width: 250px;
        word-wrap: break-word;
    }  
}

.date_time_holder{
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;

    .date{
        font-weight: 800;
        color: $dark-text-color;
    }

    .time_holder{
        display: flex;
        align-items: center;
        margin-left: 1rem;

        p{
            margin: 0 0.5rem;
        }
        .time{
            min-width: 56px;
        }
    }
}


.no_site_contact{
    min-height: 150px;
    display: grid;
    place-items: center;
    color: $red-bg;
}

.closed{
    color: $red-bg !important;
    border: 2px solid $red-bg !important;
}