<div class="side_navigation">
    <div class="nav_head">
        <img src="assets/images/Logo.svg" alt="">
    </div>
    <div class="nav_router_links" *ngIf="_serveyService.surveyInfo?.surveyId">

        <ng-container *ngIf="_serveyService.surveyInfo?.personalInfoCertificationRequired">
            <div class="link_holder" id="contact_info_route">
                <div class="link_number">
                    <p>1</p>
                </div>
                <p class="rout_link">CONTACT INFORMATION</p>
            </div>
        </ng-container>


        <div class="link_holder" id="location_info_route"
            *ngIf="_serveyService.surveyInfo?.locationInfoCertificationRequired">
            <div class="link_number">
                <p>
                    {{(!_serveyService.surveyInfo.personalInfoCertificationRequired &&
                    _serveyService.surveyInfo.locationInfoCertificationRequired)?'1':'2'}}
                </p>
            </div>
            <div>
                <p class="rout_link">LOCATION INFORMATION</p>
                <p class="rl" id="office_hours_route">Office hours</p>
            </div>
        </div>
        <div class="link_holder" id="mainrenance_hours_route"
            *ngIf="_serveyService.surveyInfo?.locationInfoCertificationRequired">
            <div class="link_number">
                <p *ngIf="_serveyService.surveyInfo.personalInfoCertificationRequired &&
                _serveyService.surveyInfo.locationInfoCertificationRequired">3</p>

                <p *ngIf="!_serveyService.surveyInfo.personalInfoCertificationRequired &&
                _serveyService.surveyInfo.locationInfoCertificationRequired">2</p>

                <p *ngIf="_serveyService.surveyInfo.personalInfoCertificationRequired &&
                !_serveyService.surveyInfo.locationInfoCertificationRequired">3</p>

            </div>
            <p class="rout_link">MAINTENANCE HOURS</p>
        </div>
        <div class="link_holder" id="submit_route">
            <div class="link_number">

                <p *ngIf="_serveyService.surveyInfo.personalInfoCertificationRequired &&
                _serveyService.surveyInfo.locationInfoCertificationRequired">4</p>

                <p *ngIf="!_serveyService.surveyInfo.personalInfoCertificationRequired &&
                _serveyService.surveyInfo.locationInfoCertificationRequired">3</p>

                <p *ngIf="_serveyService.surveyInfo.personalInfoCertificationRequired &&
                !_serveyService.surveyInfo.locationInfoCertificationRequired">2</p>

            </div>
            <p class="rout_link">SUBMIT</p>
        </div>
    </div>
</div>