@import '../../../../../styles/variables';

.side_navigation{
    height: 100%;
    width: fit-content;
    padding-top: 5vh;
    margin: 0 auto;

    .nav_head{
        img{
            height: 1.3rem;
        }
        margin-bottom: 6rem;
    }

    .nav_router_links{

        .link_holder{
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            .link_number{
                display: grid;
                place-items: center;
                border-radius: 50%;
                border: 2px solid lightgrey;
                height: 35px;
                width: 35px;
                margin-right: 10px;
                position: relative;
                z-index: 1;
                background: $white;

                p{
                    font-size: 15px;
                    color: #79797a;
                    opacity: 0.7;
                    margin-bottom: 0 !important;
                    font-weight: bold;
                }
            }
            p{
                margin-bottom: 0 !important;
                font: normal normal normal 10px/20px Helvetica;
            }

            &:not(:last-child){
                .link_number{
                    &::before{
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        height: 35px;
                        width: 2px;
                        background: grey;
                    }
                }
            }

            .rout_link,.rl{
                font-size: 12px;
                color: #79797a;
                opacity: 0.7;
                font-weight: bold;
            }
        }
    }
}
.activeRoute{
    color: $dark-text-color !important;
    font-weight: 900;
    opacity: 1 !important;

    .link_number{
        border: 2px solid $dark-navy !important;
        p{
            color: $dark-navy !important;
        }
    }
    .rout_link{
        color: $dark-text-color !important;
        font-weight: 900;
        opacity: 1 !important;
    }
}


p {
    margin-top: 0;
    margin-bottom: 0;
}