<div class="office_hours_page">
    <div class="office_hours_head">
        <h2>Welcome {{_serveyService.siteContactData?.name}} to the Site Maintenance Portal</h2>
        <p>Please verify or suggest an update to your location information below</p>
    </div>


    <div class="office_hours_holder">
        <div class="office_hours_info">
            <h4 class="font-weight-500 pb-3">
                Verify office hours
            </h4>
        </div>
        <div class="office_hours_days" *ngIf="officeHours.length > 0">
            <div *ngFor="let officeHour of officeHours; index as k" class="office_hour_day">
                <div class="day"
                    [ngClass]="days[officeHour.dayOfWeek] == 'Sunday' || days[officeHour.dayOfWeek] == 'Saturday' ? 'off_day' : 'on_day'">
                    <p *ngIf="days[officeHour.dayOfWeek] == 'Thursday' || days[officeHour.dayOfWeek] == 'Sunday'">{{days[officeHour.dayOfWeek].slice(0,2)}}
                    </p>
                    <p *ngIf="days[officeHour.dayOfWeek] != 'Thursday' && days[officeHour.dayOfWeek] != 'Sunday'">{{days[officeHour.dayOfWeek][0]}}</p>
                </div>
                <div [ngClass]="officeHour.isOpen ? 'open_slide' : 'close_slide'">
                    <mat-slide-toggle (change)="onCheck($event, k)" [(ngModel)]="officeHour.isOpen">{{officeHour.isOpen ?
                        'open' : 'closed'}}
                    </mat-slide-toggle>
                </div>
                <div class="office_hours_select" *ngIf="officeHour.isOpen">
                    <div *ngFor="let o of officeHour.officeHours; index as i" class="select_holder">
                        <mat-form-field>
                            <mat-select (selectionChange)="updated(k)" [(value)]="o.startTime">
                                <mat-option *ngFor="let hour of getHours(k, i)" [value]="hour">{{hour}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p>to</p>
                        <mat-form-field>
                            <mat-select (selectionChange)="updated(k)" [(value)]="o.stopTime">
                                <mat-option *ngFor="let hour of getEndHours(o.startTime, k, i)" [value]="hour">{{hour}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p class="slash" *ngIf="i != officeHour.officeHours.length - 1">/</p>

                        <div *ngIf="i == officeHour.officeHours.length - 1" class="add_delete_btns">
                            <mat-icon (click)="deleteTimings(k)" *ngIf="officeHour.officeHours.length > 1">
                                delete_outlined
                            </mat-icon>
                            <mat-icon (click)="addTimings(k)">
                                add_circle_outlined
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button_grp">
        <button class="prev_btn" (click)="prev()" mat-button>
            PREVIOUS
        </button>
        <button class="nxt_btn" (click)="next()" mat-button>
            NEXT
        </button>
        <!-- <mat-icon class="warning" matTooltipPosition='above' matTooltipDisabled="false" matTooltip="Hours need to filled.">
            warning_amber
        </mat-icon> -->
        <div [ngClass]="warningMsg ? 'w visible' : 'w'">
            <mat-icon class="warning">warning_amber</mat-icon>
            <p>Required Fields needs to be filled..!</p>
        </div>
    </div>

</div>