<div class="main_landing_page">
    <div class="main_side_nav">
        <app-side-navigation></app-side-navigation>
    </div>


    <div class="main_routing_pages" *ngIf="_serveyService.surveyInfo?.surveyId">
        <div [ngSwitch]="_serveyService.current">
            <ng-container *ngSwitchCase="'contact'">
                <app-contact-information-page [siteContactData]='_serveyService?.siteContactData'>
                </app-contact-information-page>
            </ng-container>
            <ng-container *ngSwitchCase="'location'">
                <app-location-information-page [locationData]='_serveyService?.locationData'>
                </app-location-information-page>
            </ng-container>
            <ng-container *ngSwitchCase="'officehours'">
                <app-office-hours-page [officeHours]='_serveyService?.officeHours'></app-office-hours-page>
            </ng-container>
            <ng-container *ngSwitchCase="'maintenancehours'">
                <app-maintenance-hours-page [maintenanceHours]='_serveyService?.maintenanceHours?_serveyService?.maintenanceHours:{}'>
                </app-maintenance-hours-page>
            </ng-container>
            <ng-container *ngSwitchCase="'submit'">
                <app-submit-page></app-submit-page>
            </ng-container>
        </div>
    </div>
</div>