<div class="non_recurring_hours">
    <div class="non_recurring_hours_holder">
        <div *ngFor="let rec of dailyMaintenances; let i=index;" class="date_hours_holder">
            <div class="select_date">
                <p>Select date<span style="color: #CC0200;">*</span> :</p>
                <mat-form-field>
                    <input [min]="minDate" [(ngModel)]="rec.date" matInput [matDatepicker]="picker" (ngModelChange)="changeDate($event,i);">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="select_hour">
                <p>Select hours<span style="color: #CC0200;">*</span> :</p>
                <mat-form-field>
                    <mat-select [(value)]="rec.startTime" [(ngModel)]="rec.startTime"  (ngModelChange)="changeDate($event,i);">
                        <mat-option *ngFor="let hour of hours" value={{hour}}>{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p>to</p>
                <mat-form-field>
                    <mat-select [(value)]="rec.endTime" [(ngModel)]="rec.endTime"  (ngModelChange)="changeDate($event,i);">
                        <mat-option *ngFor="let hour of hours" value={{hour}}>{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-icon *ngIf="i > 0" class="del_icon" (click)="delete(i)">
                    delete_outlined
                </mat-icon>
                <mat-icon *ngIf="i == dailyMaintenances.length-1" (click)="addNewRec()" class="add_btn">
                    add_circle_outlined
                </mat-icon>
            </div>
        </div>
    </div>
</div>